.page-article-write { padding: 70px 0 70px; background-color: #eee; }
.page-article-write .article-panel-wrap {}
.page-article-write .article-panel          { padding : 0 0 50px; background-color : #fff; position: relative; }
.page-article-write .article-op             { padding-left : 20px; }
.page-article-write .article-op > button    { margin-bottom : 10px; width : 100%; }
.page-article-write .article-header         { position: relative; }
.page-article-write .article-header h1      { position: absolute; bottom: 20px; left: 0; padding: 15px 30px; font-size: 36px; background-color: rgba(0,0,0,0.3); color: #fff; }

.page-article-write .article-content    { padding: 25px 80px; }
.page-article-write .unit-p-title       { font-size: 24px; line-height: 30px; border-bottom: 1px solid #ccc; margin: 15px 0; color: #333; padding: 5px 0; }
.page-article-write .unit-text          { font-size: 14px; line-height: 22px; color: #666; padding: 5px 0; text-indent: 2em; }
.page-article-write .unit-image         { width: 100%; padding: 5px 0; }


.writing-user{
    width: 70px;
    height: 70px;
    background-color: #000;
    position: absolute;
    top: 260px;
    left: 610px;
    z-index: 99;
    border-radius: 50%;
}

.writing-user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}



