<div>
    <h1>MVCコントローラ</h1>
</div>
<div>
    <div>
        <h2>HomeController</h2>
        <p>~/Home/Index</p>
    </div>
    <div>
        <h2>AccountController</h2>
        <p>~/Account/Index</p>
        <p>~/Account/Login</p>
        <p>~/Account/Logout</p>
    </div>
</div>
<div>
    <h1>APIコントローラ</h1>
</div>
<div>
    <div>
        <h2>AnonymousApiController</h2>
        <p>~/api/AnonymousApi</p>
        <p><a href="~/api/AnonymousApi">execute</a></p>
    </div>
    <div>
        <h2>AuthorizeApiController</h2>
        <p>~/api/AuthorizeApi</p>
        <p><a href="~/api/AuthorizeApi">execute</a></p>
    </div>
    <div>
        <h2>SessionStateApiController</h2>
        <p>~/api/SessionStateApi</p>
        <p><a href="~/api/SessionStateApi">execute</a></p>
    </div>
    <div>
        <h2>SimpleApiController</h2>
        <p>~/api/SimpleApi</p>
        <p><a href="~/api/SimpleApi">execute</a></p>
    </div>
</div>
