<!--
/Controllers/HomeController.cs
public ActionResult APIIndex()
{
    ViewBag.Title = "API Index";

    return View();
}

/View/Home/APIIndex.cshtml
-->
<br />
Chinook<br />
<br />
Album<br />
<a href="/api/album">api/album</a><br />
<a href="/api/album/1">api/album/1</a><br />
<br />
Artist<br />
<a href="/api/artist">api/artist</a><br />
<a href="/api/artist/1">api/artist/1</a><br />
<br />
Customer<br />
<a href="/api/customer">api/customer</a><br />
<a href="/api/customer/1">api/customer/1</a><br />
<br />
CustomerDocument<br />
<a href="/api/customerDocument">api/customerDocument</a><br />
<a href="/api/customerDocument/1">api/customerDocument/1</a><br />
<br />
Employee<br />
<a href="/api/employee">api/employee</a><br />
<a href="/api/employee/1">api/employee/1</a><br />
<br />
Genre<br />
<a href="/api/genre">api/genre</a><br />
<a href="/api/genre/1">api/genre/1</a><br />
<br />
Invoice<br />
<a href="/api/invoice">api/invoice</a><br />
<a href="/api/invoice/1">api/invoice/1</a><br />
<br />
InvoiceLine<br />
<a href="/api/invoiceLine">api/invoiceLine</a><br />
<a href="/api/invoiceLine/1">api/invoiceLine/1</a><br />
<br />
MediaType<br />
<a href="/api/mediaType">api/mediaType</a><br />
<a href="/api/mediaType/1">api/mediaType/1</a><br />
<br />
Playlist<br />
<a href="/api/playlist">api/playlist</a><br />
<a href="/api/playlist/1">api/playlist/1</a><br />
<br />
PlaylistTrack<br />
<a href="/api/playlistTrack">api/playlistTrack</a><br />
<a href="/api/playlistTrack/1">api/playlistTrack/1</a><br />
<br />
Track<br />
<a href="/api/track">api/track</a><br />
<a href="/api/track/1">api/track/1</a><br />
