@charset "utf-8";
/* User: Eric Ma  
/* Email: zjafei@gmail.com
/* Date: 2015/3/7 */
/* Time: 10:04 */
body{
    background-color: #E5F1F8;
}
.load_top{
    width: 400px;
    height: 200px;
    background-color: #3C3C3C;
}
.load_line{
    width: 0;
    height: 3px;
background-color: #2FA4DB;
}
.load_info{
    width: 400px;
    height: 47px;
    background-color: #2FA4DB;
}
.logo{
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}
.logo .blue{
    font-size: 70px;
}
.logo .gray{
    font-size: 70px;
}