

div[tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

div[tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[tree-model] li .expanded {
  padding: 1px 10px;
  background: url("../images/minus1.png") no-repeat;
  background-size:14px;
}

div[tree-model] li .collapsed {
  padding: 1px 10px;
  background: url("../images/plus1.png") no-repeat;
  background-size:14px;
}

div[tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
  background-repeat: no-repeat;
}

div[tree-model] li i, div[tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}
