


#service{
	text-align:left;
}
#service h2{
	font-size:32pt;
	display:block;
	padding:5px 0;
	margin:0 100px 0 15px;
	text-align:center;
}

#service .main-view, #service .side-view{
	display:block;
	float:left;
	margin:0;
	padding-top:5px;
}
#service .main-view{
	width:68%;
        padding:10px 10px 0 10px;
}
#service .side-view{
	width:29%;
	border-left:double 4px;
	float:right;
}
#service .side-view p {
    margin: 5px;
}
#service .side-view-title{
	display:block;
	text-align:center;
	margin:2px 0;
	padding:0 10px;
	border-bottom: 4px double;
	font-size:1.1em;
}
#service h5{
	display:block;
	margin:0;
	padding-top:2px;
	line-height:20px;
	text-align:center;
	border-style:double solid;
	border-width:4px 0;
	border-color: #0b5cab;
	color:black;
	background-color:white;
}
#service .code {
	float:right;
	font-size:28pt;
	margin:0;
	padding:15px 20px 10px 20px;
	line-height:36px;
	border-left:double 4px;
}