body {
  	font-family: 'Lato', sans serif;
  	font-weight: 300;
  	color: #FFFFFF;
}

header {
	position: fixed;
	width: 100%;
	height: 300px;
	background-color: #666666;
	transition: all 1.0s ease;
	padding: 5px 5px 5px 45px;
}

header.sticky {
	line-height: 43px;
	height: 48px;
	background-color: rgba(0,0,0,0.7);
	padding: 3px 5px 3px 160px;
}

header a {
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5em;
	color: #FFFFFF;
}

header a:hover {
	text-decoration: underline;
}

header p {
	font-size: 1.2em;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

h2 {
	font-weight: 700;
	font-size: 1.1em;
	line-height: 1.05em;
	margin-bottom: 5px;
}

p {
	line-height: 1.35em;
}

input {
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
	border: solid 1px #DDDDDD;
	padding: 5px 7px;
}

textarea {
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
	resize: none;
	border: solid 1px #DDDDDD;
	padding: 5px 7px;
	margin-bottom: 15px;
}

button {
	border: none;
	padding: 6px 10px;
	background-color: #DDDDDD;
	font-family: 'Lato', sans serif;
	font-weight: 300;
	font-size: 1em;
}

input:focus, textarea:focus {
	outline: none;
}

#photo {
	float: left;
	margin-left: 8%;
	margin-right: 2%;
	height: 100%;
}

#message-input {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
}

#about {
	margin-bottom: 10px;
	padding: 30px 320px 20px 0;
}

#about.sticky {
	display: none;
	transition: all 1.0s ease;
}

.message-container {
	margin: 340px auto;
	max-width: 800px;
	transition: all 1.0s ease;
}

.message-container.sticky {
	margin-top: 200px;
}

.message-preview {
	width: 98px;
	height: 68px;
	float: left;
  	margin: 1px;
  	padding: 50px 40px;
	color: white;
	text-shadow: 0px 0px 1px #555555;
}

.message-full {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -61.5px;
	margin-left: -230px;
	background-color: #FFFFFF;
	color: #000000;
}

.message-content {
	margin: 15px 0;
}

.cohort {
	font-size: 0.8em;
	margin-top: 3px;
	font-weight: 400;
}

footer{
	height: 100px;
}

.message-preview[id$="a"], .message-preview[id$="b"], .message-preview[id$="c"], .message-preview[id$="d"], .message-preview[id$="Z"], .message-preview[id$="Y"], .message-preview[id$="X"], .message-preview[id$="0"], .message-preview[id$="7"] {
	background-color: #731626;
}

.message-preview[id$="e"], .message-preview[id$="f"], .message-preview[id$="g"], .message-preview[id$="h"], .message-preview[id$="U"], .message-preview[id$="V"], .message-preview[id$="W"], .message-preview[id$="1"], .message-preview[id$="8"] {
	background-color: #DBD0C3;
}

.message-preview[id$="i"], .message-preview[id$="j"], .message-preview[id$="k"], .message-preview[id$="l"], .message-preview[id$="Q"], .message-preview[id$="R"], .message-preview[id$="S"], .message-preview[id$="T"], .message-preview[id$="2"] {
	background-color: #C64644;
}

.message-preview[id$="m"], .message-preview[id$="n"], .message-preview[id$="o"], .message-preview[id$="p"], .message-preview[id$="M"], .message-preview[id$="N"], .message-preview[id$="O"], .message-preview[id$="P"], .message-preview[id$="3"] {
	background-color: #8E8E8E;
}
.message-preview[id$="q"], .message-preview[id$="r"], .message-preview[id$="s"], .message-preview[id$="t"], .message-preview[id$="I"], .message-preview[id$="J"], .message-preview[id$="K"], .message-preview[id$="L"], .message-preview[id$="4"] {
	background-color: #444444;
}

.message-preview[id$="u"], .message-preview[id$="v"], .message-preview[id$="w"], .message-preview[id$="E"], .message-preview[id$="F"], .message-preview[id$="G"], .message-preview[id$="H"], .message-preview[id$="5"], .message-preview[id$="9"] {
	background-color: #A71F2E;
}

.message-preview[id$="x"], .message-preview[id$="y"], .message-preview[id$="z"], .message-preview[id$="A"], .message-preview[id$="B"], .message-preview[id$="C"], .message-preview[id$="D"], .message-preview[id$="6"], .message-preview[id$="-"] {
	background-color: #C64644;
}