* {
  box-sizing: border-box;
}
html,
body {
  background-color: #555;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("http://ak-images.jackthreads.com/v1/image/1160541");
}
#header {
  background-color: rgba(0,0,0,0.7);
  padding: 0.5em;
}
#header h1 {
  text-align: center;
}
#clone {
  display: none;
}
#background-map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
#container {
  margin-top: 0.5%;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
#container #servers {
  overflow: hidden;
  padding-left: 0.5%;
}
#container #servers .content-box {
  background-color: rgba(0,0,0,0.8);
  padding: 1em;
  width: 32%;
  margin: 5px 0.5%;
  float: left;
  border-radius: 10px;
}
#container #servers .content-box .uptime {
  font-size: 10pt;
  float: right;
}
#container #servers .content-box .name {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 10px;
}
#container #servers .content-box .cpu-load {
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid #fff;
  position: relative;
  text-align: center;
  font-weight: bold;
}
#container #servers .content-box .cpu-load .cpu-load-bar {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #308014;
  margin-left: -0.5em;
  z-index: 50;
}
#container #servers .content-box .cpu-load .cpu-pct {
  position: relative;
  z-index: 100;
}
#container #servers .content-box .load {
  overflow: auto;
  padding-left: 0.5%;
}
#container #servers .content-box .load .load-average {
  border: 1px solid #fff;
  width: 32%;
  padding: 0.5em;
  margin: 0.5%;
  display: inline-block;
}
#container #servers .content-box .load .load-time {
  font-weight: bold;
}
#container #servers .content-box .memory {
  display: none;
  width: 97%;
  margin-left: 1%;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #fff;
}
#container #chartbeat {
  margin-top: 5px;
  padding-left: 0.5%;
  padding-top: 1%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
#container #chartbeat .view {
  width: 32%;
  margin: 0 0.5%;
  padding: 1em;
  display: inline-block;
  text-align: center;
}
