* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u2_normal.png");
}

* html .u5_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u5_menu.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u13_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u17_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u42_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u17_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u53_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u15_normal.png");
}

* html .u87_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u87_line.png");
}

* html .u88_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u88_line.png");
}

* html .u90_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u90_line.png");
}

* html .u91_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u91_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u91_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u96_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u98_normal.png");
}

* html .u108_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u96_normal.png");
}

* html .u110_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u98_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u53_normal.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u96_normal.png");
}

* html .u125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u98_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u96_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u98_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="1_1__Servisnyi_centr_model_instrumenta_files/u147_normal.png");
}

