.prepend,
.append {
  white-space: nowrap;
}

.prepend input,
.prepend select,
.append input,
.append select {
  display: inline-block;
  width: 90%;
}

@media (min-width: 48em) {
  .prepend input,
  .prepend select,
  .append input,
  .append select {
    width: 300px;
  }
}
.prepend .adjoined,
.append .adjoined,
.prepend .btn,
.append .btn {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}

.prepend .btn a,
.prepend .btn input,
.prepend .btn button,
.append .btn a,
.append .btn input,
.append .btn button {
  padding: 0 12px;
}

.prepend .adjoined,
.append .adjoined,
.prepend.transparent .adjoined,
.append.transparent .adjoined {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  color: #666;
  height: 37px;
  padding: 6px 11px;
}

.prepend.transparent .adjoined {
  background: transparent;
  border-right: none;
}

.append.transparent .adjoined {
  background: transparent;
  border-left: none;
}

.prepend.transparent input,
.prepend.transparent select {
  border-left: none;
}

.append.transparent input,
.append.transparent select {
  border-right: none;
}

.prepend input:focus:invalid,
.prepend textarea:focus:invalid,
.append input:focus:invalid,
.append textarea:focus:invalid {
  border: 1px solid #e74c3c;
}

.prepend .adjoined {
  border-right: 0px;
}

.append .adjoined {
  border-left: 0px;
}

.prepend .adjoined,
.prepend .btn {
  margin-right: -4px;
}

.append .adjoined,
.append .btn {
  margin-left: -4px;
}
