body, html, ul, li, h2, p, form {
    padding: 0;
    margin: 0;
}

input {
    vertical-align: middle;
}

body, html {
    height: 100%;
    font-size: 12px;
}

ul, li {
    list-style: none;
}

#api-params {
    margin-top: 10px;
}

#api-params li {
    zoom: 1;
    overflow: hidden;
    padding: 1px 5px;
}

#api-result {
    margin-left: 5px;
    width: 90%;
    height: 300px;
}

#api-list li {
    padding: 1px 10px;
}

#api-list .title {
    border-bottom: 1px solid #aaa;
    padding: 5px 5px;
}

h3 {
    padding: 0;
    margin: 0;
}