/**
 * @author  xuld
 */
.docplus-api {
  padding: 10px;
  overflow: auto;
}
.docplus-api h1,
.docplus-api h2,
.docplus-api h3,
.docplus-api h4,
.docplus-api h5,
.docplus-api h6 {
  font-family: 'Microsoft YaHei', 'Segoe UI', Verdana, Arial;
  margin: 10px 0;
  font-weight: bold;
}
.docplus-api h1 small,
.docplus-api h2 small,
.docplus-api h3 small,
.docplus-api h4 small,
.docplus-api h5 small,
.docplus-api h6 small {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  font-weight: normal;
}
.docplus-api h1 {
  color: #3F529C;
  font-size: 30px;
  line-height: 30px;
  height: 39px;
  border-bottom: 1px solid #E5E5E5;
  _width: 100%;
  _margin-top: 0px;
}
.docplus-api h2 {
  color: #3F529C;
  font-size: 18px;
  line-height: 18px;
}
.docplus-api h3 {
  color: #333333;
  font-size: 16px;
  line-height: 16px;
}
.docplus-api h4 {
  font-size: 14px;
  line-height: 14px;
}
.docplus-api h5 {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
.docplus-api h6 {
  font-size: 10px;
  line-height: 18px;
  margin: 0;
}
.docplus-api a {
  color: #0088CC;
  text-decoration: none;
}
.docplus-api a:hover {
  color: #005580;
  text-decoration: underline;
}
.docplus-api hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E5E5E5;
  border-color: #e5e5e5 -moz-use-text-color -moz-use-text-color;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 12px 0;
}
.docplus-api table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: auto;
  min-width: 300px;
}
.docplus-api table th,
.docplus-api table td {
  border: 0;
  border-bottom: 1px solid #DDDDDD;
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
.docplus-api table th,
.docplus-api table thead {
  background-color: #F1F1F1;
  color: #707070;
  padding: 3px 8px;
}
.docplus-api table tr:hover {
  background-color: #F3F3F3;
}
.docplus-api table p {
  margin: 0;
}
.docplus-api dl dt {
  font-weight: bold;
  margin-top: 9px;
}
.docplus-api dl dd {
  margin-left: 20px;
}
.docplus-api p {
  margin: 8px 0 16px;
  line-height: 150%;
}
.docplus-api blockquote {
  border: 2px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}
.docplus-api ul,
.docplus-api ol {
  margin: 0 0 9px 25px;
  padding: 0;
  line-height: 18px;
}
.docplus-api ul li {
  list-style-type: disc;
}
.docplus-api ol li {
  list-style-type: decimal;
}
.docplus-api-aside {
  float: right;
  background: #F7F7F7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 20px 0 10px;
  border: 1px solid #ddd;
  color: #555;
  margin-left: 15px;
  margin-bottom: 20px;
}
.docplus-api-content {
  margin-bottom: 20px;
  padding-left: 20px;
}
.docplus-api-summary {
  margin: 20px 0;
}
.sh {
  border: 1px solid #e1e1e8;
  display: block;
  margin: 9px 0;
  white-space: pre;
  background-color: #F7F7F7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  word-break: break-all;
  overflow: auto;
}
.sh,
.sh-code,
.sh-textarea,
.sh-linenumbers li {
  line-height: 18px;
  font-size: 12px;
  font-family: "Courier New", Menlo, Monaco, monospace;
}
.sh-code,
.sh-textarea {
  display: inline-block;
  padding: 5px;
  margin: 0;
  background-color: #F7F7F7;
}
.sh-textarea {
  resize: none;
  overflow: hidden;
  border: none;
}
.sh-linenumbers {
  float: left;
  margin: 0;
  width: 0;
  *width: auto;
  /* IE6/7  如果 设置了width=0 ，肯能导致列表丢失。 */

  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-right: 1px solid #ececf0;
  padding: 5px 0 5px 50px;
  background-color: #FFFFFE;
}
.sh-linenumbers li {
  list-style-type: decimal;
  color: #BEBEC5;
  text-shadow: 0 1px 0 #fff;
  /* *font-size: 12px;
	    *padding-top: 2px;
	    *padding-bottom: 1px; */

}
/* 语法 */
.sh-comment {
  color: #93a1a1;
}
.sh-literal {
  color: #195f91;
}
.sh-punctuation,
.sh-leftbracket,
.sh-rightbracket {
  color: #93a1a1;
}
.sh-function {
  color: #dc322f;
}
.sh-string,
.sh-attrvalue {
  color: #D14;
}
.sh-keyword,
.sh-tag {
  color: #1e347b;
}
.sh-type,
.sh-attrname,
.sh-declaration,
.sh-var {
  color: teal;
}
.sh-plain {
  color: #48484c;
}
.docplus-api-usage {
  display: inline-block;
  margin: 0;
  padding: 10px;
}
.icon-member {
  background: url(../images/icons.gif) no-repeat left top;
  padding-left: 21px;
}
.icon-member-signle {
  padding-bottom: 3px;
}
.icon-static {
  background-position: center bottom;
  background-image: url(../images/static.gif);
}
.icon-extends {
  background-position: center bottom;
  background-image: url(../images/extends.gif);
}
.icon-namespace {
  background-position: 0 0;
}
.icon-class {
  background-position: 0 -40px;
}
.icon-interface {
  background-position: 0 -80px;
}
.icon-enum {
  background-position: 0 -120px;
}
.icon-method,
.icon-function {
  background-position: 0 -160px;
}
.icon-property {
  background-position: 0 -200px;
}
.icon-field {
  background-position: 0 -240px;
}
.icon-event {
  background-position: 0 -280px;
}
.icon-config {
  background-position: 0 -320px;
}
.icon-example {
  background-position: 0 -360px;
}
.icon-module {
  background-position: 0 -400px;
}
.icon-book {
  background-position: 0 -440px;
}
.icon-namespace-private {
  background-position: 0 -500px;
}
.icon-class-private {
  background-position: 0 -540px;
}
.icon-interface-private {
  background-position: 0 -580px;
}
.icon-enum-private {
  background-position: 0 -620px;
}
.icon-method-private,
.icon-function-private {
  background-position: 0 -660px;
}
.icon-property-private {
  background-position: 0 -700px;
}
.icon-field-private {
  background-position: 0 -740px;
}
.icon-event-private {
  background-position: 0 -780px;
}
.icon-config-private {
  background-position: 0 -820px;
}
.icon-example-private {
  background-position: 0 -860px;
}
.icon-module-private {
  background-position: 0 -900px;
}
.icon-book-private {
  background-position: 0 -940px;
}
.icon-namespace-protected {
  background-position: 0 -1000px;
}
.icon-class-protected {
  background-position: 0 -1040px;
}
.icon-interface-protected {
  background-position: 0 -1080px;
}
.icon-enum-protected {
  background-position: 0 -1120px;
}
.icon-method-protected,
.icon-function-protected {
  background-position: 0 -1160px;
}
.icon-property-protected {
  background-position: 0 -1200px;
}
.icon-field-protected {
  background-position: 0 -1240px;
}
.icon-event-protected {
  background-position: 0 -1280px;
}
.icon-config-protected {
  background-position: 0 -1320px;
}
.icon-example-protected {
  background-position: 0 -1360px;
}
.icon-module-protected {
  background-position: 0 -1400px;
}
.icon-book-protected {
  background-position: 0 -1440px;
}
