.webfind, .webfind-result {
    height: 100%;
}

.webfind-result {
    width: 94%;
    padding: 0;
    overflow-y: auto;
    list-style: none;
}

.webfind-font {
    font-family : "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
    font-size   : 16px;
}

.webfind-load {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.webfind-load-svg {
    background      : url(/img/spinner.svg);
}

.webfind-load-gif {
    background      : url(/img/spinner.gif);
}

.webfind-hide {
    visibility: hidden;
}
