/* 파일 업로드 */
#file_info {
	margin-top: 10px;
	font-size: 9pt;
}
#file_info > .row {
	border: 1px solid #d5d5d5;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	background-color: #e6e6e6;
	margin-bottom: 3px;
}

#file_info > .row > span {
	margin-left: 3px;
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 2px 3px;
	color: #ffffff;
	cursor: pointer;
}

#file_info > .row > span:hover {
	background-color: #465a69;
}

#file_info > .row > .delete_file {
	margin-left: 10px;
}

#message-write-module {
	position: relative;
}

#message-write-module input[type='submit'], #message-write-module input[type='reset'] {
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 5px 10px;
	color: #ffffff;
	cursor: pointer;
	font-family: dotum;
}

#message-write-module input[type='submit']:hover, #message-write-module input[type='reset']:hover {
	background-color: #465a69;
}