/* function set */
/* typography */
/* function */
/* responsive-utility*/
/* layout-grid*/
/* form */
/**
* ==widget
*/
/* =panel */
/*reponsive-util.css*/
/*
* =visible
*/
/*initial device width*/
@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@-o-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
.show-xs-block,
.show-sm-block,
.show-md-block,
.show-lg-block,
.show-xs-inline,
.show-sm-inline,
.show-md-inline,
.show-lg-inline,
.show-xs-inline-block,
.show-sm-inline-block,
.show-md-inline-block,
.show-lg-inline-block {
  display: none !important;
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
  .show-xs-block {
    display: block !important;
  }
  .show-xs-inline {
    display: inline !important;
  }
  .show-xs-inline-block {
    display: inline-block !important;
  }
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 991px) {
  .show-sm-block {
    display: block !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  .show-sm-inline-block {
    display: inline-block !important;
  }
}
/* Desktop normal */
@media (min-width: 992px) and (max-width: 1199px) {
  .show-md-block {
    display: block !important;
  }
  .show-md-inline {
    display: inline !important;
  }
  .show-md-inline-block {
    display: inline-block !important;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .show-lg-block {
    display: block !important;
  }
  .show-lg-inline {
    display: inline !important;
  }
  .show-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs-block {
    display: none !important;
  }
  .hidden-xs-inline {
    display: none !important;
  }
  .hidden-xs-inline-block {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm-block {
    display: none !important;
  }
  .hidden-sm-inline {
    display: none !important;
  }
  .hidden-sm-inline-block {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md-block {
    display: none !important;
  }
  .hidden-md-inline {
    display: none !important;
  }
  .hidden-md-inline-block {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg-block {
    display: none !important;
  }
  .hidden-lg-inline {
    display: none !important;
  }
  .hidden-lg-inline-block {
    display: none !important;
  }
}
/*
* =print
*/
@media print {
  .show-print-block {
    display: block !important;
  }
  .show-print-inline {
    display: inline !important;
  }
  .show-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none;
  }
}
