@import 'navbar.css';
@import 'core.css';
@import 'base.css';

.rightFlow {
    float: right;
}

.leftFlow {
    float: left;
}

.centerFlow{
    margin: auto;
}

.showHand {   
    cursor: pointer;
    cursor: hand;
}

#mainBody{
    position: absolute;
    height: 100%;
    width: 100%;
}

#mainBody #loadCore{ /*Center align the div*/
    margin: auto; 
}

#mainBody a {
	color: black;
	text-decoration: none;
	outline: none;
}

#mainBody div {
    /*overflow: hidden;*/
}

#loadCore {
    max-width: 1920px;
    width: 80%;
    height: 900px; /*static*/
    background-color: darkgray;
}
