/**
 * user-profile.css
 * 	styles for the profile.php admin page
 */

.osu-click-through-agreement-date {
	font-weight: bold;
	font-style: italic;
}

.osu-terms-of-service {
	border-radius: 5px;
	border: solid 1px #CCC;
	padding: 20px;
	margin: 20px 0;
	background-color: #EEE;
}

.osu-terms-of-service ul
{
	list-style-type: disc;
}

.osu-terms-of-service ul,
.osu-terms-of-service ol,
.osu-terms-of-service blockquote
{
	margin: 1em auto;
	width: 75%;
}

.osu-terms-of-service blockquote {
	font-style: italic;
}
