/* 아래는 모두의 블로그 기본 스타일 셋팅입니다. */

.header {
	width:100%;
	height:50px;
	background-color:#007eff;
}

.header a {
	display:inline-block;
	width:auto;
	padding:0 10px;
	height:50px;
	line-height:50px;
	color:#fff;
	font-size: 1.2em;
	text-decoration:none;
	font-weight:bold;
}

.header a:hover {
	background-color:#333;
	color:#fff;
}
.nav {
	width: 100%;
	background-color:#828282;
	text-align: center;
}

.footer {
	width:100%;
	height:30px;
	line-height:30px;
	background-color:#ddd;
	text-align:center;
}

.container {
	width:100%;
	min-height:350px;
}

/*my profile*/
#my_img_container{
	padding: 20px;
}

#my_img {
	width: 100px;
	height: 100px;
	border-radius: 5em;
}

#my_intro {
	text-align: center;
}

/*write*/
#write_container {

}
#write_content {

}

#write_box {
	margin-right: 10px
}

#write_input {
	float: left;
	width: 85%;
	min-height: 30px;
	border-radius: 1em;
}

#write_submit {
	width: 13%;
	height: 30px;
	float: right;
	border-radius: 1em;
}

/*list*/
#list_container{}
.list_wrapper{}
.list_left{}
.list_num{}
.list_date{}
.list_right{}
.list_content{}