
.nav-tabs-l {
  border-bottom: 1px solid #ddd;
}
.nav-tabs-l > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs-l > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs-l > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs-l > li.active > a,
.nav-tabs-l > li.active > a:hover,
.nav-tabs-l > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs-l.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs-l.nav-justified > li {
  float: none;
}
.nav-tabs-l.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs-l.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs-l.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-l.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-l.nav-justified > .active > a,
.nav-tabs-l.nav-justified > .active > a:hover,
.nav-tabs.-lnav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-l.nav-justified > .active > a,
  .nav-tabs-l.nav-justified > .active > a:hover,
  .nav-tabs-l.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}