#board_content{
    _width: 99%;
}

#article_write_head {
    background: url(/media/image/head_background.png) repeat;
    width: 100%;
    padding: 0.8em 0em;
    color: white;
}

#article_write_head .main_head {
    font-family: HYGothic-Medium;
    font-size: 1.4em;
    font-weight: bold;	
    color: white;
    margin: 0.5em 0 0 0.6em;
}

#article_write_head .sub_head {
    font-size: 1em;
    color: white;
}

#article_write_author {
    width: 97.6%;
    margin: 1em 0em;
    margin-left: 2%;
}

#article_write_title {
    width: 97.6%;
    margin: 1em 0em;
    margin-left: 2%;
}

#article_write_title input{
    position: relative;
    left: 4%;
    border: 1px solid #ddd;
    width: 91%;
}

#article_write_heading {
    width: 97.6%;
    margin: 1em 0em;
    margin-left: 2%;
}

#article_write_heading input{
    position: relative;
    left: 4%;
    border: 1px solid #ddd;
    width: 91%;
}

#article_write_text {
    width: 98%;
    padding-left: 2%;
}

#article_write_text textarea {
    font-size: small;
    /*background-color: #fef;*/
    border: 1px solid #ddd;
    height: 30em;
    width: 99%;
    overflow-x: hidden;
    overflow-y: auto;
}

#article_signature {
    width: 98%;
    padding-left: 2%;
}

#signature_check {
    float: left;
    padding-right: 2%;
}

#article_signature textarea {
    font-size: small;
    border: 1px solid #ddd;
    height: 5em;
    width: 83%;
    overflow-y: auto;
}

#article_delete_file {
    width: 98%;
    padding-left: 2%;
    margin: 1em 0em;
}

#article_write_file {
    width: 98%;
    padding-left: 2%;
    margin: 0.5em 0em;
    float: left;
}

#article_write_file .file_line {
    width: 100%;
    float: left;
    margin: 0.1em 0em;
}

#article_write_file input {
    border: 1px solid #ddd;
}

input.file_upload{
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    float: right;
}

div.file_upload_t {
    position: absolute;
    z-index: 2;
    width: 90%;
    text-align: right;
    float: right;
}

div.file_upload{
    width: 100%;
    float: right;
}
div.file_upload_p{
    position: relative;
    width: 90%;
    float: right;
}

#article_write_file .article_write_file_caption {
    position: relative;
    float: left;
}

div.file_upload_f{
    position: absolute;
    top: 0px;
    left: 0%;
    z-index: 1;
    width: 95%;
}

div.file_upload_f input {
    width: 82%;
    position: relative;
    float: left;
    z-index: 1;
}

#article_write_file .file_search_button {
    position: relative;
    float: left;
    background-color: #ddd;
    padding: 0.2em 0em;
    width: 8em;
    text-align: center;
    z-index: 1;
}

#article_write_file input.small_btn {
    width: 2em;
    height: 1.5em;
    position: relative;
    float: right;
    margin-right: 1%;
    z-index: 1;
}

#file_line_model{
    display: none;
}

#article_write_buttons {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

#article_write_buttons .big_btn {
    width: 5em;
}

#article_write_buttons .small_btn {
    margin: 0em 0.5em;
    margin-top: 0.5%;
    width: 5em;
}

#article_delete_file .deleted_file {
    text-decoration: line-through;
}
