#_panelId_ {
    margin-bottom: 10px;
}
#_panelId_ .service {
	/*width: 210px;*/
	height: auto;
	border: 1px #cccccc solid;
    font-size:12px;
}
#_panelId_ .service .serviceTitle {
	height: 42px;
	line-height: 42px;
	background: #f7f7f7;
	border-bottom: 1px #cccccc solid;
	padding-left: 8px;
	font-size: 14px;
}
#_panelId_ .service .serviceList {
	/*height: 90px;*/
	/*text-align: center;*/
}
#_panelId_ .service .serviceList ul {
	padding-left: 0px;
    overflow:hidden;
}
#_panelId_ .service .serviceList ul li {
    float:left;
    width:180px;
	margin: 10px 0;
}
#_panelId_ .service .serviceList ul li .serviceName{
	width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 0 10px;
}
/*#_panelId_ .service .serviceList ul li span {
	padding-left: 20px;
}*/
/*#_panelId_ .service .serviceList ul li a {
	float:right;
    padding-right:20px;
}*/
#_panelId_ .service .serviceTime {
	height: 30px;
	line-height: 30px;
	border-top: 1px #cccccc solid;
	padding-left:10px;
}

#_panelId_ .service .serviceList li img{
	display: inline-block;
	width: 38px;
	height: 38px;
    border-radius: 50%;
    margin-right: 12px;
    vertical-align: middle;
}