body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav li a:hover, .nav li a:link, .nav li a:active, .nav li a:visited, .nav li a {
  color: #000;
}
.nav li a:hover i.fa, .nav li a:link i.fa, .nav li a:active i.fa, .nav li a:visited i.fa, .nav li a i.fa {
  color: #999;
}
.nav li a:hover i.fa:hover, .nav li a:link i.fa:hover, .nav li a:active i.fa:hover, .nav li a:visited i.fa:hover, .nav li a i.fa:hover {
  color: #f66;
}

.btn-check {
  color: #000;
}
.btn-check .btn-check-hint {
  color: #f99;
}

.btn-check.btn-danger {
  color: #fff;
}
.btn-check.btn-danger .btn-check-hint {
  color: #f99;
}
