/*
  Spot colour: rgba(37, 182, 224, 1);

*/
.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: transparent;
}

.service-item {
  display: inline-block;
  width: 76px;
  height: 54px;
  padding: 12px 0;
  border: 1px solid transparent;
  background-color: #f9f9f9;
  cursor: pointer;
}

.service-item * {
  display: block;
  width: 100%;
  height: 100%;
}

.service-item:focus,
.service-item:hover,
.service-item.is-active {
  background-color: #fff;
  border: 1px solid #ceced0;
}
