/*Comment styles (one for each BG color)*/
.commentA{ 
	background-color: #EFF7FF;
	padding:5px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-size: 10px !important;
	color: black !important;
}
.commentB{
	background-color: #FFFFFF;
	padding:5px;
	border: 1px solid #7A7A7A;
	border-radius: 5px;
	font-size: 10px !important;
	color: black !important;
}

/*For the loading text*/
.bottomText{
	margin-left: 5px;
}
.loading{ /*While loading */
	color:red;
	font-size: 16px;
}
	.loading::after{
		content: "Loading comments...";
	}
.loadMore{ /* Once finished loading */
	color:blue;
	font-size: 12px;
	cursor: pointer;
}
	.loadMore::after{
		content: "Load more comments...";
	}

/*The div with the comments in them */
.commentContent{
	padding-bottom: 5px;
}

/*For the button to load replies */
.loadReplies{
	cursor:pointer;
}
	.loadReplies::after{
		content: "Load replies...";
	}

.commentExpander{
	display:inline;
	float:left;
	margin-right: 5px;
	margin-top: 1px;
	cursor: pointer;
}
	.commentExpander:hover{
		background-color: #EBF8FF;
		border-radius: 5px;
	}