.show-body {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 15px 1px 15px;
}

.show-with-tabs .show-body {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.show-body .dl-horizontal {
    margin: 0;
}

.show-body .show-row {
    margin-bottom: 18px;
}

.show-body .show-label {
    display: block;
    font-weight: 600;
    line-height: 16px;
    min-height: 34px;
    padding-top: 9px;
    text-align: left;
}

@media (min-width: 992px) {
    .show-body .show-label {
        text-align: right;
    }
}

.show-body .show-widget {
    display: block;
    position: relative;
    padding: 7px 13px 6px 13px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
}

.show-body .show-widget-inline:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.show-body .show-widget-block {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
}

.show-body .show-widget-block:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    border: 1px solid #e2e2e2;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.show-body .show-widget-block:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    border: 1px solid #e2e2e2;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.show-body .show-entity {
    margin-right: 12px;
}

.show-body a.show-entity:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width: 16px;
    margin-left: 4px;
    content: "";
}

.show-body a.show-entity:hover:after {
    content: "\e080";
}

.show-body .modal-gallery .thumbnail {
    margin: 0 20px 20px 0;
}

.show-body .show-color {
    border-radius: 2px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;
    vertical-align: baseline;
}

/**
 * ACL Table
 */
.acl-table thead th, .acl-table tbody td {
    text-align: center;
}

.acl-table tbody th {
    text-align: right;
}

.acl-table .glyphicon-ok {
    color: #0C0;
}

.acl-table .glyphicon-remove {
    color: #C00;
}