ul.nav li{
  margin:0;
  list-style-type:none;
}
.nav a{
  text-decoration:none;
  display:block;
}
  .nav a:hover{text-decoration:none;}
  
.nav .item-0 .nav{display:none;}
.nav .in_stack .nav{display:block;}

.nav .nav{padding-left:20px;}
.nav a.active_item{font-weight:bold;}
  .nav .item-1 a{border-bottom:1px solid #000;}
/*years in the nav*/
.archive_nav .year .in_stack{display:block;}
.archive_nav .year .item-1 .nav{display:none;}
.archive_nav .year .in_stack .nav{display:block;}
.archive_nav a.year{font-size:146.5%;}
.archive_nav a.month{font-size:131%;}