html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

#main { padding-bottom: 50px; }

.navbar {
  border-radius: 0; }

footer {
  background: #eee;
  border-top: 1px solid #aaa;
  padding: 10px 0;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.nav-list .nav-list > li > a { margin-left: 10px; }
.nav-list .nav-list .nav-list > li > a { margin-left: 20px; }
.nav-list .nav-list .nav-list .nav-list > li > a { margin-left: 30px; }
.nav-list .nav-list .nav-list .nav-list .nav-list > li > a { margin-left: 40px; }

img { max-width: 100%; }
