/*@sans: Helvetica, Arial, sans-serif;*/
/*#vimeo {
	max-width: 720px;
	margin: 0 auto;
}*/
.extraBottom {
  padding-bottom: 2em;
}
.service {
  padding: 2em 0;
  border-top: 1px dashed #ccc;
}
.service .innerNav ul li {
  text-transform: uppercase;
  font-size: 0.9em;
}
.service .mainFocus h3 {
  font-weight: 700;
}
.service .mainFocus p.first {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.4;
}
.service .mainFocus span {
  font-weight: 800;
  color: #336699;
}
.service .secondaryFocus {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em;
  background: #eeeeee;
  border-radius: 4px;
}
.service .secondaryFocus p span {
  font-weight: 800;
  color: #336699;
}
.service .secondaryFocus li {
  font-size: 0.9em;
  list-style-type: disc;
  margin: 0.25em 1.5em;
}
.service .secondaryFocus li span {
  font-weight: 700;
  color: #555555;
}
.service .secondaryImage {
  margin-bottom: 1em;
}
.service .secondaryImage img {
  width: 100%;
}
.service .centerImage {
  text-align: center;
}
.service .centerImage img {
  max-width: 100%;
}
.getStarted {
  padding: 2em 0;
  text-align: center;
}
