/************
 * popovers *
 ************/
GtkPopover {
    margin: 10px;
    padding: 2px;
    border-color: @menu_bg_color;
    border-width: 1px;
    border-style: solid;
    background-clip: border-box;
    background-image: none;
    background-color: @dark_bg_color;
    color: @menu_fg_color;
    box-shadow: 0 2px 3px alpha(black, 0.5);
}

GtkPopover.background {
    background-image: none;
    background-color: @menu_bg_color;
}

GtkPopover:backdrop {
    box-shadow: none;
}

GtkPopover.osd {
    box-shadow: 0 2px 7px 3px alpha(black, 0.5);
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-image: none;
    background-color: transparent;
}

GtkPopover .list-row {
    color: @menu_fg_color;
}

GtkPopover .list-row:hover {
    background-image: none;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

GtkPopover .frame {
    border: 0px solid mix(@menu_bg_color, @menu_fg_color, 0.12);
    border-radius: 0px;
}

GtkPopover .entry {
    border-color: mix(@menu_bg_color, @menu_fg_color, 0.12);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

GtkPopover .entry:hover,
GtkPopover .entry:focus,
GtkPopover .entry:active  {
    border-color: mix(@menu_bg_color, @menu_fg_color, 0.21);
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0;
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

GtkPopover .separator {
    border: 0;
    background-color: transparent;
    color: shade(@theme_bg_color, 0.7);
    font-size: 80%;
    font-weight: bold;
}

.menuitem.button {
    color: @theme_fg_color;
}

.menuitem.button,
.menuitem.button:active,
.menuitem.button:checked,
.menuitem.button:insensitive,
.menuitem.button:active:insensitive,
.menuitem.button:checked:insensitive {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: @menu_fg_color;
}

.menuitem.button:active:hover,
.menuitem.button:checked:hover,
.menuitem.button:hover,
.menuitem.button:selected {
    border: none;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

GtkModelButton.button {
    color: @menu_fg_color;
}


GtkModelButton.button:focus,
GtkModelButton.button:active:focus,
GtkModelButton.button:checked:focus,
GtkModelButton.button:active,
GtkModelButton.button:checked,
GtkModelButton.button:insensitive:insensitive,
GtkModelButton.button:active:insensitive,
GtkModelButton.button:checked:insensitive,
GtkModelButton.button {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
}

GtkModelButton.button:backdrop,
GtkModelButton.button:hover:backdrop,
GtkModelButton.button:insensitive:backdrop,
GtkModelButton.button:active:insensitive:backdrop,
GtkModelButton.button:active:backdrop,
GtkModelButton.button:active:hover:backdrop,
GtkModelButton.button:active:selected:backdrop,
GtkModelButton.button:checked:insensitive:backdrop,
GtkModelButton.button:checked:backdrop,
GtkModelButton.button:checked:hover:backdrop,
GtkModelButton.button:checked:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
    color: @theme_selected_fg_color;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    box-shadow: none;
}

GtkModelButton.button:active:hover,
GtkModelButton.button:checked:hover,
GtkModelButton.button:hover,
GtkModelButton.button:selected {
    background-image: none;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    text-shadow: none;
    border-width: 0;
    border-color: transparent;
    border-radius: 2px;
}
