/*********
 * Noise *
 ********/

.album-list-view,
.album-list-view GtkLabel,
.album-list-view:backdrop,
.album-list-view GtkLabel:backdrop {
    background-color: @background;
    color: @selected_foreground;
    border-radius: 0;
    border-color: @border;
}

.album-list-view GtkTreeView,
.album-list-view GtkTreeView:backdrop {
    background-color: @background;
    background-color: @backdrop_background;
    color: @selected_foreground;
    -GtkTreeView-vertical-separator: 3;
    -GtkTreeView-grid-line-width: 0;
}

.album-list-view GtkTreeView row:nth-child(even),
.album-list-view GtkTreeView row:nth-child(even):backdrop {
    background-image: none;
    background-color: @foreground;
    border-width: 1px;
    border-style: solid;
    border-color: @border;
}


.album-list-view GtkTreeView row:nth-child(odd),
.album-list-view GtkTreeView row:nth-child(odd):backdrop {
    background-image: none;
    background-color: @background;
    border-width: 0px;
    border-style: none;
}

.album-list-view GtkTreeView row:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}