#preview {
  height: 570px;
}
.model-list {
  margin-top: 20px;
}
.model-list__item {
  height: 570px !important;
  width: 100%;
  margin: 20px 0 20px !important;
}
.model-list__item__image {
  height: 570px !important;
  width: 100%;
}
.ash_large {
  display: none;
}
.instruments_large {
  display: none;
}
.nav {
  min-width: 100%;
}
.nav_item {
  width: 40%;
  margin: 5px 10px;
  display: inline-block;
}
#media-icons {
  right: 20px;
  top: 13px;
}
#langs {
  right: 24px;
}
.model__images {
  margin: 10px auto;
  width: 360px;
!important
}
!important
