/* FONT */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* BASE CSS */

::selection{
}
::-moz-selection{
}
*{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    box-sizing:border-box;

    -moz-box-sizing:border-box;

    font-family:"Nanum Gothic", sans-serif;
    font-weight:400;

    /* for better rendering */
    text-rendering:optimizingLegibility;
    text-shadow:0 0 1px rgba(0,0,0,0.05);
    -webkit-text-stroke:0.1px;
    -webkit-font-smoothing:subpixel-antialiased;
}
script, title, style{
    display:none;
}
a{
    text-decoration:none;
}
button{
    border:0;
    outline:none;
    background:none;
}
body{
    background:#eeeeee;
}
html{
    overflow:auto;
}



/* HEADER */

#wrapper-header{
    width:100%;
    height:80px;
    background:#303032;
}
#header{
    width:800px;
    height:100%;
    margin:0 auto;
}
#header h1{
    height:40px;
    font-size:17px;
    font-weight:500;
    padding-left:44px;
    background:url("/media/res/img_logo.png") left 50% no-repeat;
    float:left;
    line-height:40px;
    color:#f2f2f2;
    margin:20px 20px 0 0;
}
#header #menu{
    float:left;
}
#header #menu>li{
    float:left;
}
#header #menu>li:before{
    content:"";
    background:url("/media/res/bg_menu_deco.png") 0 0 no-repeat;
    width:1px;
    height:10px;
    margin:35px 0;
    display:block;
    float:left;
}
#header #menu>li a{
    font-size:15px;
    color:rgba(255,255,255,0.4);
    margin:0 12px;
    float:left;
    line-height:80px;
    padding:0 8px;
}
#header #menu>li a:hover{
    color:#fff;
}
#header #menu>li a.sel{
    color:#fff;
    background:url("/media/res/bg_menu_sel_deco.png") 50% bottom no-repeat;
    cursor:default;
}
#header #login{
    border-radius:4px;
    background:#e25740;
    font-size:16px;
    color:#fff;
    line-height:36px;
    padding:0 16px;
    float:right;
    margin-top:22px;
    cursor:pointer;
}
#header #login:hover{
    background:#d14630;
}
#header #logout{
    border-radius:4px;
    background:#e25740;
    font-size:16px;
    color:#fff;
    line-height:36px;
    padding:0 16px;
    float:right;
    margin-top:22px;
    cursor:pointer;
}
#header #logout:hover{
    background:#d14630;
}
#header #register{
    border-radius:4px;
    background:#6a6a6a;
    font-size:16px;
    color:#fff;
    line-height:36px;
    padding:0 16px;
    float:right;
    margin-top:22px;
    cursor:pointer;
    margin-right:12px;
}
#header #register:hover{
    background:#5a5a5a;
}
#header #write{
    border-radius:4px;
    background:#0d4;
    font-size:16px;
    color:#fff;
    line-height:36px;
    padding:0 16px;
    float:right;
    margin-top:22px;
    cursor:pointer;
    margin-right:12px;
}
#header #write:hover{
    background:#0c2;
}


/* BODY WRAPPER */

#wrapper-body{
    width:100%;
    height:100%;
    background:#eeeeee;
    padding-bottom:100px;
}
#body{
    width:800px;
    margin:20px auto;
}


/* POPUP SECTION */

#wrapper-popup{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    position:absolute;
    top:0;
    left:0;
}
.popup-close{
    width:100%;
    height:100%;
    background:transparent;
    position:absolute;
    top:0;
    left:0;
}
.popup-login{
    width:320px;
    height:294px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-160px;
    border-radius:4px;
}
.popup-login-title{
    width:100%;
    height:56px;
    padding:16px 20px;
    background:#15c2d2;
    font-size:18px;
    color:#fff;
}
.popup-login-label{
    margin:16px;
    font-size:15px;
    color:#6f7375;
    margin-bottom:8px;
}
.popup-login-field{
    font-size:15px;
    height:40px;
    width:288px;
    border-radius:1px;
    border:1px solid #d7d8d9;
    margin:0 auto;
    color:#0e929e;
    outline:none;
    padding:8px;
}
.popup-login-field:focus{
    border:1px solid #ffb400;
    background:#fffaf2;
}
.popup-login-submit{
    width:88px;
    height:40px;
    padding:10px 0;
    text-align:center;
    font-size:16px;
    font-weight:400;
    color:#fff;
    background:#0e929e;
    border:0;
    border-radius:2px;
    outline:none;
    float:right;
    cursor:pointer;
    margin:20px 16px 0 0;
}
.popup-login-submit:hover{
    background:#075a62;
}

/* POPUP - WRITE TROLLING */

.popup-write{
    width:500px;
    height:410px;
    background:#fff;
    border-radius:4px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-230px;
    margin-left:-250px;
}
.popup-write-title>span{
    width:444px;
    height:56px;
    background:#e25740;
    color:#fff;
    font-size:18px;
    line-height:56px;
    padding-left:16px;
    float:left;
}
.popup-write-submit{
    width:56px;
    height:56px;
    background:#b54330 url("/media/res/img_popup_write_submit.png") 50% 50% no-repeat;
    text-indent:-9999px;
    cursor:pointer;
}
.popup-write-submit:hover{
    background-color:#903121;
}
.popup-write-content{
    width:100%;
    height:240px;
    background:transparent;
    border:none;
    outline:none;
    color:#414141;
    font-size:18px;
    line-height:24px;
    padding:16px;
}
.popup-write-content:focus{
    background:#fffef3;
}
.popup-write-add-place, .popup-write-add-photo{
    width:100%;
    height:56px;
    border-top:1px solid #e5e5e5;
    color:#8f8f8f;
    font-size:18px;
    line-height:56px;
    padding-left:42px;
    text-align:left;
    cursor:pointer;
}
.popup-write-add-place{
    background:#f7f7f7 url("/media/res/img_popup_write_add_place.png") 16px 50% no-repeat;
}
.popup-write-add-photo{
    background:#f7f7f7 url("/media/res/img_popup_write_add_photo.png") 16px 50% no-repeat;
}
.popup-write-add-place:hover, .popup-write-add-photo:hover{
    background-color:#eaeaea;
    color:#5f5f5f;
}

/* POPUP - TROLLING MAP */

.popup-map{
    width:720px;
    height:616px;
    background:#fff;
    border-radius:4px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-306px;
    margin-left:-360px;
}
.popup-map-title>span{
    width:664px;
    height:56px;
    background:#e25740;
    color:#fff;
    font-size:18px;
    line-height:56px;
    padding-left:16px;
    float:left;
}
.popup-map-submit{
    width:56px;
    height:56px;
    background:#b54330 url("/media/res/img_popup_write_submit.png") 50% 50% no-repeat;
    text-indent:-9999px;
    cursor:pointer;
}
.popup-map-submit:hover{
    background-color:#903121;
}
.popup-map-image{
    width:720px;
    height:560px;
    background:transparent;
    border:none;
    outline:none;
    color:#414141;
    font-size:18px;
    line-height:24px;
    padding:16px;
}
.popup-map-image:focus{
    background:#fffef3;
}


/* POPUP HIDE CSS */

#wrapper-popup{
    z-index:26;
}
.popup-close{
    z-index:29;
}
.popup-login{
    z-index:92;
}
.popup-write{
    z-index:92;
}
.popup-map{
    z-index:292;
}

.label {
    text-anchor: middle;
}
