@CHARSET "EUC-KR";

/* import */
@import url(base.css); /* reset, font, link, skip */
@import url(layout.css); /* layout */

/*	중간 회색줄	*/
#main_line{height:10px; width:990px; background-color:#dbdbdb; margin-right:auto; margin-left:auto;margin-top:-30px;}
#side_line{height:5px; width:910px; background-color:#dddddd; margin-right:auto; margin-left:auto; margin-top:30px;}
#side_line2{height:5px; width:910px; background-color:#dddddd; margin: 10px 100px 10px -10px; }
#side_line3{height:5px; width:910px; background-color:#dddddd; margin-right:auto; margin-left:auto; }
#line2{margin:10px 0 10px 0;width:910px; height:2px; background-color:#e5e5e5; margin: 10px 100px 10px -10px;}

/*	board_info	*/
#board_Write_Wrap {height:515px; width:900px; margin-right:auto; margin-left:auto; background-color:#f5f5f5; font-size:20px; padding-top: 10px; padding-left: 10px;}
#board_Write_Wrap .left_box{ padding-top: 10px; padding-left: 10px; padding-right: 10px; margin-top:3px;}
#board_Write_Wrap .right_title_box{margin-top:8px;}
#board_Write_Wrap .right_box{margin-top:8px; }
#board_Write_Wrap .right_check_box{margin-top:100px; }

/*	board_개인정보취급방침	*/
#board_Write_footer {height:310px; width:900px; margin-right:auto; margin-left:auto; background-color:#E0EEE0; font-size:20px; padding-top: 10px; padding-left: 10px;}

/*	board_move_box	*/
#move_box{height:250px; width:910px; margin-right:auto; margin-left:auto; }
/*  board_list  */
#move1{margin:8px 0 0 0;}
/*  board_취소  */
#move2{margin:-38px 0 0 750px;}
/*  board_등록  */
#move3{margin:-36px 0 0 843px;}


