body{
	overflow: hidden;
}

/*用户管理页充值图标在右侧*/
header i{
	float: right;
	width: 1.04rem;
	height: 0.55rem;
	background: linear-gradient(#d0100f,#940807,top);
	border-radius: 0.12rem;
	border: 1px solid #9f1512;
	box-shadow: 1px 1px 1px 1px #7a0607;
	font-size: 0.4rem;
	line-height: 0.55rem;
	text-align: center;
	margin-top: 0.1rem;
	font-size: 0.23rem;
	font-style: normal;
}

/**section**/
section{
	padding: 0.64rem 0.35rem 0;
	font-size: 0.35rem;
}
section .xinxi{
	overflow: hidden;
}
section .xinxi img{
	width: 1.65rem;
	float: left;
}
section .xinxi div{
	float: left;
	padding-left: 0.32rem;
}
section .xinxi div span{
	color: #f00;
}
section .nav-list{
	border: 1px solid #dedede;
	border-radius: 0.18rem;
	background: #fff;
	padding: 0;
}
section .nav-list li{
	list-style: none;
	height: 0.88rem;
	padding: 0 0.28rem;
	line-height: 0.88rem;
	border-bottom: 1px solid #dedede;
}
section .nav-list li span{
	float: right;
	color: #aaaaaa;
}

/**model**/
.model-wrap{
	width: 100%;
	height: 100%;
	background: rgba(122,122,122,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.model-wrap .model{
	width: 3.72rem;
	height: 3.34rem;
	background: #e8e8e8;
	border-radius: 0.18rem;
	border: 1px solid #494949;
	position: absolute;
	top: 1.84rem;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0.18rem 0.48rem;
}
.model-wrap .model h3{
	font-size: 0.29rem;
	text-align: center;
	font-weight: 100;
	margin: 0;
	line-height: 0.72rem;
	border-bottom: 1px solid #ababab;
}
.model-wrap .model img{
	width: 1.16rem;
}
.model-wrap .model div{
	margin-top: 0.32rem;
	padding: 0 0.2rem;
}
.model-wrap .model div img:nth-child(1){
	float: left;
}
.model-wrap .model div img:nth-child(2){
	float: right;
}















