/*	
	This file defines the default set of CSS styles available in the Rich editor
*/

p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

.cke_show_blocks p {
    background-image: none !important;
    padding-top: 0px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cke_show_blocks p, .cke_show_blocks div, .cke_show_blocks pre, .cke_show_blocks address, .cke_show_blocks blockquote, .cke_show_blocks h1, .cke_show_blocks h2, .cke_show_blocks h3, .cke_show_blocks h4, .cke_show_blocks h5, .cke_show_blocks h6 {
    border: none !important;
}