* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  margin: 0;
  padding: 8px 0;
}

h1 a {
  display: block;
  width: 147px;
  height: 41px;
  margin: 0;
  text-indent: -9999px;
  background: transparent url('../img/atropa.png') left top no-repeat;
  border: 0 none transparent;
  outline: 0 none transparent;
}

#submit {
  display: none;
  margin: 6px 0 0 0;
  padding: 6px 8px;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  color: #fff;
  background-color: #f66;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 2px;
  box-sizing: border-box
}

#submit:hover, #submit.load {
  background-color: #f44;
  border-color: #222;
}

@-webkit-keyframes load {
  0% {
    margin-right: 8px;
    padding-right: 0;
  }
  100% {
    margin-left: 8px;
    padding-left: 0;
  }
}

#submit.load {
  -webkit-animation: load .2s linear 0 alternate infinite;
}

p {
  margin: 8px 0;
}

form {
  margin: 12px 0;
}

input {
  margin: 0;
  padding: 2px 4px;
  color: #555;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
}

input:focus {
  color: #111;
  border-color: #ccc;
}
