h2 {
	text-decoration : underline;
	font-size       : 1.3em;
	font-weight     : normal;
	margin          : 20px 0px 5px 0px;
}

#typesDialog {
	text-align : center;
}

#typesList > div.type {
	float  : left;
	margin : 10px 25px;
}

#typesList > div.type * {
	cursor : pointer;
}

ul.bxslider {
	clear  : none;
	margin : 0px;
}

div.bx-wrapper {
	float  : left;
	margin : 10px 15px;
	height : 150px;
}

#slidersWrapper {
	margin        : 10px 0px;
	border-top    : 1px solid #484848;
	border-bottom : 1px solid #484848;
}

#separator {
	float       : left;
	height      : 150px;
	margin      : 10px 0px;
	border-left : 1px solid #484848;
}

div.type,
div.model {
	text-align : center;
	margin     : 0px 40px;
	width      : 130px;
	height     : 150px;
	text-align : center;
}

div.type > img,
div.model > img {
	height : 130px;
	margin : -10px auto -10px auto;
}

div.type > label.name,
div.model > label.name {
	font-size   : 0.8em;
	text-align  : center;
	font-weight : bold;
	color       : #653679;
}

div.model * {
	cursor : pointer;
}

#productInfos {
	float : right;
	width : 460px;
}

#modelDetails {
	margin : 5px;
	width  : 450px;
}

#modelName,
#modelDescription {
	float  : left;
	margin : 10px 5px;
	clear  : both;
}

#modelName {
	font-weight : bold;
	color       : #653679;
	font-size   : 1.5em;
}

#modelDescription > div,
#modelDescription > ul,
#modelDescription > p {
	margin : 0px 0px 15px 0px;
	clear  : both;
}

#product {
	display : table;
}

#left {
	display        : table-cell;
	vertical-align : middle;
}

#right {
	display        : table-cell;
	vertical-align : middle;
}

#productImage {
	width  : 500px;
	height : 500px;
	float  : left;
}

#configuration {
	margin : 5px;
}

#configuration > p {
	margin : 5px;
	clear  : both;
}

#configuration > p > select,
#configuration > p > input {
	float       : right;
	width       : 215px;
	margin-left : 10px;
}

#configuration > p > label {
	float       : right;
	line-height : 39px;
}

#productCosts {
	margin : 15px 5px;
}

#productCosts > p {
	clear  : both;
	margin : 5px;
}

#productPrice,
#shippingFee {
	width       : 215px;
	margin-left : 10px;
	float       : right;
	text-align  : left !important;
}

#productCosts > p > label {
	float       : right;
	font-weight : bold;
	color       : #653679;
	font-size   : 1.1em;
	text-align  : right;
}

#summary {
	margin     : 10px 5px;
	float      : right;
	width      : 450px;
	text-align : center;
}

#addToCart {
	width : 200px;
}

#warnings {
	margin     : 5px;
	width      : 450px;
	font-size  : 0.7em;
	font-style : italic;
	text-align : center;
}