/* 2008-11-10 (mca) : photos.css */

address,h1,h4 
{
	margin:0;
	padding:0;
}
img 
{
	border:none;
}
ul#photos
{
	list-style:none;
	margin:0;
	padding:0;
}
ul#photos li
{
	display:inline;
}
div#page
{
	width:1100px;
}
div#detail
{
	width:320px;
	height:280px;
	float:left;
}
div#list
{
	width:760px;
	float:right;
	height:400px;
	overflow:auto;
}
div.border
{
	border:1px solid #000;
}
div#load-list
{
	width:200px;
	text-align:center;
	margin:auto;
}
div#load-list p
{
	font-style:italic;
	font-weight:bold;
	color:silver;
}
ul#source-list
{
	margin:0;
}	