.single-wp-models-model .wp-models-model-pics h3,
.single-wp-models-model .wp-models-model-vids h3,
.single-wp-models-model .wp-models-model-info,
.single-wp-models-shoot .wp-models-shoot-pics h3,
.single-wp-models-shoot .wp-models-shoot-vids h3,
.single-wp-models-shoot .wp-models-shoot-info
{
	background-color: #333333;
	color: #FFFFFF;
	border-radius: 3px;
	padding: 0 5px;
}

.single-wp-models-model a.wp-models-toggle,
.single-wp-models-shoot a.wp-shoot-toggle
{
	float: right;
	padding-right: 10px;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}

.single-wp-models-model .wp-models-model-info,
.single-wp-models-shoot .wp-models-shoot-info
{
	font-size: .75em;
}

.single-wp-models-model .wp-models-model-pic,
.single-wp-models-shoot .wp-models-shoot-pic
{
	width: 45%;
	margin: 2.0%;
	vertical-align: top;
	float: left;
	min-width: 100px;
}

.single-wp-models-model .flowplayer
.single-wp-models-shoot .flowplayer
{
	background-color: #666666;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.single-wp-models-model .wp-models-model-pic,
	.single-wp-models-shoot .wp-models-shoot-pic
	{
		width: 30%;
		margin: 1.25%;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px)
{

	.single-wp-models-model .wp-models-model-pic,
	.single-wp-models-shoot .wp-models-shoot-pic
	{
		width: 18%;
		margin: 1%;
	}
		
}