.edgtf-import-page-holder .alert {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 20px;
}

.edgtf-import-page-holder .import_load {
	display: block;
	font-size: 13px;
	color: #acb5bf;
}

.edgtf-import-page-holder .import_load progress {
	background-color: #f3f3f3;
	border: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.edgtf-import-page-holder .import_load progress::-webkit-progress-bar {
	background-color: #f3f3f3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.edgtf-import-page-holder .import_load progress::-webkit-progress-value {
	background: #57CEEB;
}

.edgtf-import-page-holder .import_load progress::-moz-progress-bar {
	background: #57CEEB;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.edgtf-import-page-holder .import_load .alert-success {
	margin-top: 15px;
	margin-bottom: 0;
}