
body {
    color: #585858;
    font-size: 12px;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.page-wrap {
    width:85% ;
    margin: 0 auto;
}


.service-header h1 {
    font-size: 1.5em;
    padding: 5px 0;
    background: #0EA59C;
    color: #ffffff;
    text-align: center;
    margin: 10px 0 10px 0;
}

.service-header p {
    text-indent: 2em;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
}

.service-list {
    padding-top: 20px;
}

.service-list ol {
    list-style-type: decimal;
    list-style-position: inside;
    counter-reset: item;
}

.service-list ol li {
    line-height: 1.8;
    display: block;
    margin-bottom: 1em;
    margin-left: -1em;
}

.service-list ol li:before {
    content: counters(item, ".") " "; counter-increment: item
}

.service-list h2 {
    font-size: 1.3em;
    display: inline-block;
    clear: both;
    padding-bottom: 0.5em;
}

.service-list h3 {
    font-size: 1.2em;
    display: inline;
    clear: both;
    padding-bottom: 0.5em;
}

.service-list p {
    font-size: 1.1em;
    text-indent: 2em;
    text-align: justify;
}

.service-list .subol p {
    display: inline;
}

@media (min-width: 960px) {
    body {
        background: #E0E0E0;
    }

    .page-wrap {
        width: 75%;
        background: #ffffff;
        border-radius: 10px;
        padding:20px;
    }
}