/* RadButton Web20 Skin */

.RadButton_ServiceDirect.rbSkinnedButton,
.RadButton_ServiceDirect .rbDecorated,
.RadButton_ServiceDirect.rbVerticalSkinnedButton,
.RadButton_ServiceDirect .rbVerticalDecorated,
.RadButton_ServiceDirect .rbSplitRight,
.RadButton_ServiceDirect .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
}

.RadButton_ServiceDirect .rbToggleCheckbox,
.RadButton_ServiceDirect .rbToggleCheckboxChecked,
.RadButton_ServiceDirect .rbToggleCheckboxFilled,
.RadButton_ServiceDirect .rbToggleRadio,
.RadButton_ServiceDirect .rbToggleRadioChecked
{
	background-image:url('Button/ToggleSprite.gif');
}

.RadButton_ServiceDirect .rbDecorated,
.RadButton_ServiceDirect .rbVerticalText
{
	color: #fff;
}

.RadButton_ServiceDirect.rbSkinnedButtonChecked .rbDecorated,
.RadButton_ServiceDirect.rbSkinnedButtonChecked:hover .rbDecorated
{
	color: #ddd;
}

.RadButton_ServiceDirect .rbDecorated:active,
.RadButton_ServiceDirect .rbDecorated:focus,
.RadButton_ServiceDirect .rbVerticalText:active,
.RadButton_ServiceDirect .rbVerticalText:focus
{
	color: #fff;
}

.RadButton_ServiceDirect.rbToggleButton,
.RadButton_ServiceDirect.rbToggleButton.rbDisabled,
.RadButton_ServiceDirect.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_ServiceDirect.rbToggleButton:hover
{
	color: #25507b;
}

.RadButton_ServiceDirect.rbDisabled .rbDecorated,
.RadButton_ServiceDirect.rbDisabled:hover .rbDecorated
{
	color: #ccc;
}

.RadButton_ServiceDirect.rbLinkButton
{
	border: 1px solid #6b8dc2;
	color: #000;
	text-decoration: none;
}

.RadButton_ServiceDirect.rbLinkButton:hover
{
	background-color: #e7f1ff;
	color: #25507b;
}

.RadButton_ServiceDirect.rbLinkButtonChecked,
.RadButton_ServiceDirect.rbLinkButtonChecked:hover
{
	background-color: #aabad0;
	border: 1px solid #697d9a;
}

.RadButton_ServiceDirect.rbLinkButton.rbDisabled,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #6a6a6a;
}

.RadButton_ServiceDirect.rbLinkButton:hover .rbSplitLeft,
.RadButton_ServiceDirect.rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_ServiceDirect.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #6b8dc2;
}

.RadButton_ServiceDirect.rbLinkButton .rbSplitRight:hover,
.RadButton_ServiceDirect.rbLinkButton .rbSplitLeft:hover
{
	background-color: #e7f1ff;
}

.RadButton_ServiceDirect.rbLinkButton .rbSplitRight:active,
.RadButton_ServiceDirect.rbLinkButton .rbSplitRight:focus
{
	background-color: #a8cafa;
}

.RadButton_ServiceDirect.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #6b8dc2;
}

.RadButton_ServiceDirect.rbLinkButton .rbSplitLeft:active,
.RadButton_ServiceDirect.rbLinkButton .rbSplitLeft:focus
{
	background-color: #a8cafa;
}

.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #d0d0d0;
}

.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_ServiceDirect.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	border-left: 1px solid #d0d0d0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_ServiceDirect.rbLinkButton,
*html .RadButton_ServiceDirect.rbLinkButton:hover
{
	border: 1px solid #6b8dc2 !important;
}
