.color_generic {
	color:#0c5188;
} 
.color_dpc {
	color:#0c5188;
}
.color_product {
	color:#0c5188;
} 
.color_family {
	color:#367a70;
}
.color_dec {
	color:#007877;
}
.color_series {
	color:#5d417c;
}
.color_data {
	color:#494949;
}
.color_type {
	color:#004b3e;
}
.color_content {
	color:#000000;
}
.color_model, .pop_color_model, .color_model select { 
	color:#582700;
}
.color_user {
	color:#115680;
}
.color_pos {
	color:#007877;
}
.color_chapter {
	color:#115680;
}
.color_attribute {
	color:#7c0a86;
}
.color_netchandising {
	color:#556b95;
}