@charset "utf-8";
/* CSS Document */

.rightp_group{ width:46px; position:fixed; z-index:10000; right:10px; bottom:30px;_position:absolute;_right:expression(eval(document.documentElement.scrollright+10));top:expression(eval(document.documentElement.scrollbottom+30))}
.rightp_group a{ background:url(../images/service/backbg.png) no-repeat; position:relative; width:46px; height:46px; display:block; cursor:pointer; margin-bottom:5px;}
.rightp_group a:hover{ background:url(../images/service/backbg_a.png) no-repeat; width:46px; height:46px; display:block}
.rightp_group_top span{ background:url(../images/service/back_go.gif) no-repeat center center; width:46px; height:46px; display:block;}
.rightp_group_home span{ display:block; width:46px; height:30px; background:url(../images/service/back_home.gif) no-repeat center center;}
.rightp_group_home b{ display:block; width:46px; height:16px; line-height:16px; text-align:center; color:#FFF}
.rightp_group_tel span{ display:block; background:url(../images/service/tel.png) no-repeat center center; width:46px; height:46px;}
.rightp_group_hid{ display:block; width:200px; position:absolute; right:46px; overflow:hidden; padding:10px; background:#FFF; border-radius:5px; font-style:normal; text-align:right; background:#FFC; top:5px;}

.left_service{ float:left; position:fixed; left:10px; top:100px;_position:absolute;_right:expression(eval(document.documentElement.scrollleft+10));top:expression(eval(document.documentElement.scrolltop+100)); z-index:10000; }
.left_service_box{ width:166px; float:left; overflow:hidden; background:url(../images/service/kfbottom.png) no-repeat left bottom; padding-bottom:22px;}
.left_service_box h3{ position:relative; background:url(../images/service/kftop.png) no-repeat; width:166px; height:34px; float:left;}
.left_service_box h3 span{ text-align:center; color:#FFF; font-size:16px; display:block; line-height:34px;}
.left_service_box h3 a{ background:url(../images/service/kf_close.gif) no-repeat; display:block; width:13px; height:13px; position:absolute; right:20px; top:10px;}
.left_service_bg{ width:152px; background:#FE8848; padding-left:6px; padding-right:8px; overflow:hidden;}
.left_service_inbox{ float:left; overflow:hidden; background:#FEECE2; width:152px;}
.left_service_h4{ background:url(../images/service/service_q.jpg) no-repeat; display:block; width:75px; height:63px; float:left; border-bottom:1px solid #FE8848; padding-left:77px;}
.left_service_h4 span{ width:100%; display:block; height:30px; line-height:30px; text-align:center; color:#FE5C04; font-size:16px;}
.left_service_h4 i{ width:100%; display:block; text-align:center; font-size:12px; color:#999; line-height:15px; height:20px;}
.left_service_ul{ width:142px; padding:5px;}
.left_service_ul li{ line-height:30px; margin-top:10px; float:left; width:100%;}
.left_service_ul li span{ width:40px; display:block; float:left; text-align:center; color:#663939;}
.left_service_ul li a{ background:url(../images/service/qqser.gif) no-repeat; float:left; width:102px; height:24px; line-height:24px;}
.left_service_ul li a i{ padding-left:25px; color:#3F5260; font-size:12px; font-family:"宋体";} 
.left_service_tel{ width:152px; float:left; background:url(../images/service/service_tel.jpg) no-repeat left center; height:50px;}
.left_service_tel span{ padding-left:40px;font-size:12px; display:block}
.left_service_tel span b{ display:block; color:#FFF; margin-top:5px;} 
.left_service_tel span i{ font-size:14px; color:#fff;}
.left_service_code{ background:#FEECE2; width:152px; float:left; overflow:hidden; text-align:center;}
.left_service_code h5{ text-align:center; display:block; height:30px; line-height:30px; font-size:16px;}
.code_box_service{ width:100%;  margin-top:10px; text-align:center; display:block}
.right_service{ background:url(../images/service/right_service.png) no-repeat; width:45px; height:183px; float:left; position:relative; top:80px;}
.right_service span{ color:#C45C24; font-size:16px; width:20px; margin-top:30px; float:left; text-align:center; padding-left:5px;}
.right_service a{ display:block; width:100%; height:100%; cursor:pointer;}