.service-sprite {
  background: url( 'services.png' ) no-repeat;
  background-size: 112px 98px;
}

.service-sprite.codecov-logo {
  width: 16px;
  height: 18px;
  background-position: 0 0;
}

.service-sprite.drone-smile {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.service-sprite.circleci-frown {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}

.service-sprite.circleci-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -18px;
}

.service-sprite.circleci-meh {
  width: 16px;
  height: 16px;
  background-position: -16px -18px;
}

.service-sprite.circleci-smile {
  width: 16px;
  height: 16px;
  background-position: -32px -18px;
}

.service-sprite.codecov-frown {
  width: 16px;
  height: 16px;
  background-position: -48px 0;
}

.service-sprite.appveyor-build_failed {
  width: 16px;
  height: 16px;
  background-position: -48px -16px;
}

.service-sprite.codecov-smile {
  width: 16px;
  height: 16px;
  background-position: 0 -34px;
}

.service-sprite.codeship-frown {
  width: 16px;
  height: 16px;
  background-position: -16px -34px;
}

.service-sprite.codeship-logo {
  width: 16px;
  height: 16px;
  background-position: -32px -34px;
}

.service-sprite.coveralls-down {
  width: 16px;
  height: 16px;
  background-position: -48px -34px;
}

.service-sprite.coveralls-logo {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}

.service-sprite.coveralls-neutral {
  width: 16px;
  height: 16px;
  background-position: -64px -16px;
}

.service-sprite.coveralls-up {
  width: 16px;
  height: 16px;
  background-position: -64px -32px;
}

.service-sprite.custom-error {
  width: 16px;
  height: 16px;
  background-position: 0 -50px;
}

.service-sprite.custom-logo {
  width: 16px;
  height: 16px;
  background-position: -16px -50px;
}

.service-sprite.dockerhub-logo {
  width: 16px;
  height: 16px;
  background-position: -32px -50px;
}

.service-sprite.doorbell-logo {
  width: 16px;
  height: 16px;
  background-position: -48px -50px;
}

.service-sprite.drone-frown {
  width: 16px;
  height: 16px;
  background-position: -64px -50px;
}

.service-sprite.drone-logo {
  width: 16px;
  height: 16px;
  background-position: -80px 0;
}

.service-sprite.appveyor-logo {
  width: 16px;
  height: 16px;
  background-position: -80px -16px;
}

.service-sprite.gitbook-logo {
  width: 16px;
  height: 16px;
  background-position: -80px -32px;
}

.service-sprite.gitlab-logo {
  width: 16px;
  height: 16px;
  background-position: -80px -48px;
}

.service-sprite.heroku-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -66px;
}

.service-sprite.huboard-logo {
  width: 16px;
  height: 16px;
  background-position: -16px -66px;
}

.service-sprite.jenkins-frown {
  width: 16px;
  height: 16px;
  background-position: -32px -66px;
}

.service-sprite.jenkins-logo {
  width: 16px;
  height: 16px;
  background-position: -48px -66px;
}

.service-sprite.jenkins-meh {
  width: 16px;
  height: 16px;
  background-position: -64px -66px;
}

.service-sprite.jenkins-smile {
  width: 16px;
  height: 16px;
  background-position: -80px -66px;
}

.service-sprite.logentries-error {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}

.service-sprite.logentries-logo {
  width: 16px;
  height: 16px;
  background-position: -96px -16px;
}

.service-sprite.pagerduty-logo {
  width: 16px;
  height: 16px;
  background-position: -96px -32px;
}

.service-sprite.pivotaltracker-logo {
  width: 16px;
  height: 16px;
  background-position: -96px -48px;
}

.service-sprite.sentry-error {
  width: 16px;
  height: 16px;
  background-position: -96px -64px;
}

.service-sprite.sentry-logo {
  width: 16px;
  height: 16px;
  background-position: 0 -82px;
}

.service-sprite.sprintly-columns {
  width: 16px;
  height: 16px;
  background-position: -16px -82px;
}

.service-sprite.sprintly-logo {
  width: 16px;
  height: 16px;
  background-position: -32px -82px;
}

.service-sprite.travis-frown {
  width: 16px;
  height: 16px;
  background-position: -48px -82px;
}

.service-sprite.travis-logo {
  width: 16px;
  height: 16px;
  background-position: -64px -82px;
}

.service-sprite.travis-meh {
  width: 16px;
  height: 16px;
  background-position: -80px -82px;
}

.service-sprite.travis-smile {
  width: 16px;
  height: 16px;
  background-position: -96px -82px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.service-sprite {
  background: url( 'services@2x.png' ) no-repeat;
  background-size: 112px 97.5px;
}

}
