
/* Overlay Style */





/* Schedule style */

table { 
border-collapse: collapse;
margin: auto;
}
th { 
font-family: "Comic Sans MS";
font-size: 23px;
text-align: center;
}
th:hover {
cursor: pointer;
color: grey;
}
.select_employee {
width: 100%;
font-family: "Comic Sans MS";
font-size: 23px;
text-align: center;
}
td { 
background-color: lightgrey;
border: 1px solid black;
margin: 0px;
padding: 0px;
}
td.cell_0:hover, td.cell_15:hover, td.cell_30:hover, td.cell_45:hover, 
.write_left:hover, .write_right:hover,
p.cell_right:hover, p.cell_left:hover {
opacity: .7;
cursor: pointer;
}
td.hour {
border: 3px solid black;
}
td.cell_0, td.cell_30 {
background-color: white;
}
td.cell_0, td.cell_15, td.cell_30, td.cell_45 {
border-right: 3px solid black;
border-left: 3px solid black;
}
td.cell_0 {
border-top: 3px solid black;
}
td.cell_45 {
border-bottom: 3px solid black;
}
p.cell_right, p.cell_left {
height: 14px;
width: 148px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 13px;
}
p.cell_right {
text-align: right;
padding: 0px 3px 2px 0px;
}
p.cell_left {
text-align: left;
padding: 0px 0px 2px 3px;
}
.write_left, .write_right, .write_left_out, .write_right_out {
color: blue; 
float: left;
z-index: 1000;
margin: 0px;
width: 129px;
height: 18px; 
position: absolute;
/top: -2px;
text-align: center;
font-family: handWrite;
font-size: 15px;
/background-color: green;
overflow:hidden;
line-height: 17px;
}
.write_left_out, .write_right_out {
color: black;
}
.write_right, .write_right_out {
margin-left: 2px;
}
.write_left, .write_left_out {
margin-left: 20px;
}
p.hour {
height: 40px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 36px;
text-align: center;
}
.AM, .PM { 
height: 21px;
margin: 0px;
font-family: "Comic Sans MS";
font-size: 15px;
text-align: center;
}