@charset "UTF-8";

/* nav  http://webdesignerwall.com/tutorials/css-responsive-navigation-menu */
.nav, nav {
	position: relative;
	z-index: 1;
}

.nav h3, nav h3{
	display: none;
}
.nav ul, nav ul {
	margin: 0;
	padding: 0;
}
.nav li, nav li {
	margin: 9px 5px 10px 0;
	list-style: none;
	display: inline-block;
}

.nav a, nav a {
	padding: 3px 22px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}
.nav a:hover, nav a:hover {
	color: #000;
}
.nav .current a, nav .current a {
	background: #999;
	color: #fff;
}







/* center nav */
.nav.center ul, nav.center ul {
	text-align: center;
}

/* right nav */
.nav.right ul, nav.right ul {
	text-align: right;
}

@media screen and (max-width: 480px) {
	.nav, nav {
		position: relative;
		min-height: 40px;
		
	}	
	.nav ul, nav ul {
		width: 100%;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(../examples/images/icon-menu.png) no-repeat 10px 11px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li, nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.nav .current, nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a, nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a, nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav ul:hover, nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li, nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current, nav ul:hover .current {
		background: url(../examples/images/icon-check.png) no-repeat 10px 7px;
	}

	
	
}




