/*
 * Aria Templates
 * Copyright Amadeus s.a.s.
 */
{CSSTemplate {
    $classpath : "aria.widgets.action.LinkStyle",
    $extends : "aria.widgets.WidgetStyle"
}}
    {var skinnableClassName="Link"/}

    {macro writeState(info)}
        {var pseudoclass=""/}
        {if info.stateName != "normal"}
            {set pseudoclass=":"+info.stateName/}
        {/if}
        
        a${pseudoclass}.xLink_${info.skinClassName} {
            color:${info.state.color};
            {if info.state.textDecoration}
                text-decoration:${info.state.textDecoration};
            {/if}
        }
    {/macro}
    
{/CSSTemplate}
