
.model-box {
	margin: 0;
	padding: 5px;

	xwidth: 300px;
	min-height:100px;
	border: 1px solid #000;
	
	
}



.model-entity {
	display: inline-block;
	width: 120px;
	min-height: 40px;
	float: left;
	vertical-align: middle;
	text-align: center;
	
	padding:10px 5px;
	margin:10px 0;
	
	
	background-color: #75b1d1;
	border: 2px solid #83C6EA;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	font-family: Arial, Verdana, sans-serif;
	color:#FFF;
	
}

.model-entity:HOVER {
	background-color: #83C6EA;
}

.completed {
background-color: #83d175;
border-color: #73b867;
}

.completed:HOVER {
background-color: #73b867;
border-color: #73b867;
}

.active {
border-color: #FFCC00;

}


/* c9ced1 */
.inactive {
background-color: #cbd1cb;
border-color: #b4c5d1;
}


.model-line {
	float: left;
	margin: 40px 1px 26px 1px;
	
	height: 4px;
	width: 20px;
	background-color: #FFCC00;
	
	}

