.metisFolder {
    padding-left: 0;
}
.metisFolder,
.metisFolder ul {
    margin: 0px;
    list-style: none;
}

.metisFolder li {
    position: relative;
    margin:0px;
}
.metisFolder li a {
    display: block;
    padding: 2px 0;
    color: #333;
    text-decoration: none;
    outline: 0 none;
}

.metisFolder ul:before {
    position: absolute;
    border-left: 1px dotted #008cba;
    content: "";
    width: 30px;
    top: 25px;
    left: 5px;
    bottom: 17px;
}

.metisFolder ul > li:before {
    position: absolute;
    border-top: 1px dotted #008cba;
    content: "";
    width: 15px;
    top: 13px;
    left: -33px;
}

li.active > a > span.fa-folder-o:before {
    content: "\f115" !important;
}

.modelTree {
    border-left: 2px solid #eee;
}

.modelTree .fa {
    background-color: #FAF5C1;
}
.modelTree .fa-file:before {
    content: "\f02d";
    background-color:#fff;
}
