vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Apr 2003 20:08:00 -0000
vti_extenderversion:SR|5.0.2.5012
vti_cacheddtm:TX|14 Apr 2003 20:08:00 -0000
vti_filesize:IR|1269
vti_lineageid:SR|{C688DCE5-91AF-4CD8-8DEF-1A2BC7EF73EB}
vti_backlinkinfo:VX|Docs/Examples/RateServiceAPI/java/docs/com/gain/rateservice/RateService.html Docs/Examples/RateServiceAPI/java/docs/com/gain/rateservice/RateServiceListener.html Docs/Examples/RateServiceAPI/java/docs/deprecated-list.html Docs/Examples/RateServiceAPI/java/docs/packages.html Docs/Examples/RateServiceAPI/java/docs/com/gain/rateservice/Rate.html Docs/Examples/RateServiceAPI/java/docs/overview-tree.html Docs/Examples/RateServiceAPI/java/docs/serialized-form.html Docs/Examples/RateServiceAPI/java/docs/allclasses-frame.html Docs/Examples/RateServiceAPI/java/docs/help-doc.html Docs/Examples/RateServiceAPI/java/docs/index-all.html
