#content #col2 {
	width:807px;
	min-height:558px;
	float:left;
	margin-left:15px;
/*	border:solid 1px #cccccc; */
}

#content #col2 #title{
	margin-top:30px;
	height:30px;
	border-bottom:solid 1px #cccccc;
}

/* list css */

#list_search {
	height:30px;
	padding-top:10px;
}

#list_search #list_search1 {
	float:left;
	margin-top:2px;
}

#list_search #list_search2 {
	float:left;
	margin-left:300px;
	margin-top:4px;
}


#list_search #list_search3 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_search #list_search3 select {
	width:80px;
	height:21px;
	border:solid 1px #cccccc;
}

#list_search #list_search4 {
	float:left;
	margin-left:3px;
}

#list_search #list_search4 input {
	width:120px;
	height:18px;
	border:solid 1px #cccccc;
}

#list_search #list_search5 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}

#list_top_title {
	height:20px;
	padding:7px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:3px;
}

#list_top_title li {
	display:inline;
}

#list_top_title #list_title1 {
	margin-left:5px;
}

#list_top_title #list_title2 {
	margin-left:250px;
}

#list_top_title #list_title3 {
	margin-left:290px;
}

#list_top_title #list_title4 {
	margin-left:32px;
}

#list_top_title #list_title5 {
	margin-left:26px;
}

#list_content {
	height:380px;
}

#list_item {
	height:18px;
	margin-top:2px;
	padding:6px;  
	border-bottom:solid 1px #eeeeee;
}

#list_item #list_item1{
	float:left;
	width:40px;
	text-align:center;
}

#list_item #list_item2{
	float:left;
	width:560px;
}

#list_item #list_item3{
	float:left;
	width:65px;
	text-align:center;
}

#list_item #list_item4{
	float:left;
	width:80px;
	text-align:center;
}

#list_item #list_item5{
	float:left;
	width:40px;
	text-align:center;
}

#page_button {
	margin-top:20px;
}

#page_num {
	float:left;
	width:80%;
	margin-top:10px;
	text-align:center;
}

#button {
	float:left;
	width:18%;
	text-align:right;
}

/* write_form css */

#write_form_title {
	margin-top:20px;
	width:99%;
	height:20px;
	text-align:center;
	padding-top:7px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
}

#write_form {
	margin-top:10px;
	overflow:hidden;
}

#write_form #write_row1 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row2 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row3 {
    width:99%; 
	height:251px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row4 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row5 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

#write_form #write_row6 {
    width:99%; 
	height:25px; 
	margin:2px 0 2px 0; 
}

.write_line {
    width:99%; 
	border-bottom:solid 1px #cccccc;
}

#write_form .col1 {
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
	background-color:#eeeeee;
}

#write_form #write_row3 .col1 {
	height:126px;
	padding-top:120px;
}

#write_form .col2 {
	float:left;
	margin-left: 8px;
	margin-top:2px;
}

#write_row1 .col2 {
	margin-top:6px;
}

#write_form #write_row1 .col3 {
	float:left;
	margin-top:4px;
	margin-left:100px;
}

#write_row2 .col2 input {
	width:650px;
	height:17px;
	border:solid 1px #cccccc;
}

#write_row3 .col2 textarea {
    margin-top:1px;
	border:solid 1px #cccccc;
}

#write_row4 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row5 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_row6 .col2 input {
	width:300px;
	height:19px;
	border:solid 1px #cccccc;
}

#write_button {
	margin-top:15px;
	width:97%;
	text-align:right;
}

.delete_ok {
	margin:0 0 3px 140px;
}

/* view.php css */

#view_comment {
	margin:10px 0 0 10px;
}

#view_title {
	height:18px;
	padding:10px 8px 8px 8px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:5px;
}

#view_title1 {
	float:left;
	width:70%;
}

#view_title2 {
	float:left;
	width:28%;
	text-align:right;
}

#view_content {
	width:98%;
	min-height:200px;
	padding:15px 0 15px 8px;
	overflow:hidden;
	line-height:150%;
	border-bottom:solid 1px #cccccc;
	margin-bottom:15px;
}

#view_button {
	width:98%;
	text-align:right;
	margin-bottom:15px;
}