* {
	background-color: #aeafb2;
	font-family: arial, Helvetica, sans-serif;
	font-size: 14px;
}


body{
	text-align: center;
}

nav ul{
	list-style: none;
	padding: 1em;
	
}
nav ul li{
	display: inline;
	background-color: white;
	color: white;
}

nav a{
	background-color: white;
	padding: 1em 2em;
	color: black;
}

a.current{
	text-decoration: none;
	font-weight: bold;
}


h1{
	text-align: center;
	font-size: 20px;
}

table{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

td {
	border: 1px solid black;
	padding: 2px;
}

.model{

	height: 200px; 
	width: auto;
}

.model  img{
	width: 450px;
	height: auto;
	float: left;
	margin-right: 10%;
}

.model ul{

	text-align: left;

}

.model h2{
	
	text-align: left;
	
}

