.nav ul:before,
.nav ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.nav ul:after {
    clear: both;
}
.nav ul {
    *zoom: 1;
}
/*nav ul li a (home, tutorials)*/
/*nav ul ul li a (photoshop, illustrator, web design)*/
/*nav ul ul li a (web design ) ul li (html css) */
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul li {
	float: left;
	list-style: none;
	position: relative;
}
nav ul li a {
	padding: 20px 30px;
	display: block;
	position: relative;
}
nav ul ul {
	position: absolute;
}
nav ul ul li ul{
	position: absolute;
	left: 100%;
	top: 0;
}
nav ul ul li a {
	padding: 20px 30px;
}