.comment-reply-write-form {
	font-size: 9pt;
	font-family: dotum;
}
.comment-reply-write-form input[type='submit'], .comment-reply-write-form input[type='reset'] {
	cursor: pointer;
	display:inline-block;
	background-color: #6d899e;
	border: 1px solid #465a69;
	padding: 4px 7px;
	color: #ffffff;
}

.comment-reply-write-form input[type='submit']:hover, .comment-reply-write-form input[type='reset']:hover {
	background-color: #465a69 !important;
}


.comment-reply-write-form .comment-extra-info-box {
	border: 1px solid #666666;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.comment-reply-write-form .comment-extra-info-box > .row {
	margin-bottom: 5px;
}

.comment-reply-write-form .comment-extra-info-box > .row > .sub-title {
	display:inline-block;
	padding: 5px 10px;
	width: 70px;
	font-family: dotum;
	margin-right: 5px;
	color: #666666;
}

.comment-reply-write-form .comment-extra-info-box > .row input[type='text'], .comment-reply-write-form .comment-extra-info-box > .row input[type='password'] {
	padding: 5px 10px;
}