.loadMask-loader {
    display: none;
    position: absolute;
    opacity: .85;
    z-index: 100;
    left: 50%;
    margin-top: -35px;
    padding: 10px 30px ;
    background: rgba(0, 0, 0, .6);
}
#loadMask h1{font-size:15px !important;display:block;color:#f2f2f2;text-align:center;}

.loadMask-loader h1 {
    font-size: 15px;
    text-align: center;
}
.loadMask-loader .loadMask-icon {
    position: static;
    display: block;
    opacity: .9;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    position:absolute;
top:50%;left:50%;margin-top:-20px;margin-left:-35px;
    background-color: transparent;
}
.loadMask-spin {
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes spin {from {
        -webkit-transform: rotate(0deg);
}
to {
        -webkit-transform: rotate(360deg);
}
}
.loadMask-icon-loading {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////x8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHvvEhiAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAEaSURBVCiRY2AgATCapaUqoIiIzN5z5syZJiQRltW7gUJ3705C6OraDRG6GwATkli1evdusNBTuKJVq3c4MjBX3733DqqMfdWqFWDbau+9ewIRspy5KgHMYL737g1EX+fMaVAjbN+9KwDLzZxZAHPMu3cXwEbNnAl397p3YDslOmD6GBjs/v8AURodzXAh3v+/QZRHRyNciPP/f4hQA1yIHVMICtzLC9CFzMuL0IXEy0vQhdjK0+BsRqgv0tIMYEKCggJgmbS0QJgiQUEIwy0tVQCmCCokmhYaCFMElWMKDQ01BIkoKcKEGFRDQ1yMlISUgEIwe5iAQi7GxkpKSjBFwMh2cXEGCSkiOVcFLIQswsAgZGxshCpCBgAA0FNYp5zwDegAAAAASUVORK5CYII=);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 35px 35px;
}
#loadMask {
    position: absolute;
    width: 100%;
    top:0px;
    bottom: 0px;
    overflow:hidden;
    z-index:999;
}
#loadMask h1{font-size:3em;color:#fff;display:block;width:100px;position:absolute;top:50%;left:50%;margin-left:-62px;margin-top:20px;}
#loadMask > #loadMask-splashscreen {
    position: absolute;
    overflow:hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    min-height: 100%;
    background: rgba(29, 29, 28, 1) !important;
    color: white !important;
    font-size: 30px;
    text-align: center;
    z-index: 9999;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 0 !important;
    padding-left: 0px !important;
}