
/**********************************************************************************************************************************************************
* SLIDE SHOW      																																																															            *
*********************************************************************************************************************************************************/
/**
 * Home Slide Show
 */
section#home-slide-show {
    height: 500px;
    background-color: black;
    text-align: center;
}

/**********************************************************************************************************************************************************
*       																																																															            *
*********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
