/*
<div class="MessageFrame">
	<div class="InfoMessage">Hello!</div>
</div>
or
<div class="InfoMessage MessageBody">Hello!</div>
 */
.MessageFrame {
	font-size: 110%;
	padding: 4px 4px;
	margin: 4px 8px;
}
.MessageBody {
	padding: 4px 2px;
}
.CasualMessage {
	background: #CFECFF;
	border: 1px solid #ABDAFB;
	color: #1E79A7;
}
.InfoMessage {
	background: #F6F6F6;
	border: 1px solid #ddd;
}
.AlertMessage {
	background: #fff8ce;
	border: 1px solid #DEDDAF;
}
.WarningMessage {
	background: #ffebe9;
	border: 1px solid #FFCCC9;
}

/*.ErrorMessage {
	border: 1px solid #a00;
	background: #d50a0a;
	padding: 6px 10px;
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}*/