.title { position: relative; }
.add-output-file { position: absolute;top: 10px;right: 0; }

#load-runs-history { border: solid 1px #ccc;border-collapse: collapse;margin: 2px 0;width: 100%;margin-top: 10px; }
#load-runs-history th { border: solid 1px #ccc;padding: 0 3px; }
#load-runs-history td { border: solid 1px #ccc;padding: 0 3px; }
#load-runs-history td.load-run .delete { color: red; }
#load-runs-history tr.load-run:hover { background-color: #ffc; }

#load-runs-history .run-details td { font-size: 11px; }
#load-runs-history .run-details td.value { padding: 0 18px; }
#load-runs-history .run-details td.value.warning { background-color: #fff17e; }
#load-runs-history .run-details td.value.critical { background-color: #ff9c7e; }

textarea {width: 99%}
input {width: 99%}
.runremarks { margin: 20px; min-height: 60px}