#main{
	margin-top: 50px;
	padding: 20px 0px 30px; 
	background-color: #ddd;
}

.api_nav{
	margin-top: 20px;
	height:100px;
}
.api_nav ul{
	list-style-type: none;
	float: left;
	margin: 0;			
	background-color: #aaa;
	position: relative;
	left: 50%;
	margin-left: -180px;
}

.api_nav ul li {
	float: left;
	display: block;
	width: 120px;
	height: 100px;
	margin: 0;
}

.api_nav ul li:hover {
	background-color: #C9DFF2;
	-moz-transition:background-color .5s, -moz-transform .5s;
	-webkit-transition:background-color .5s, -webkit-transform .5s;
	-o-transition:background-color .5s, -o-transform .5s;
	transition:background-color .5s, transform .5s;
}

.api_nav ul li:hover a{
	background-position: center -90px;
}

.api_nav ul li a{
	color: #333;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: center 10px;
	padding-top: 75px;
	outline: none;
	display: block;
}

.api_nav ul li a:hover{
	color: #00519d;
	text-decoration: none;
}

.api_nav ul li.active a {
	background-position: center -190px;
	color: #fff;
}

li#donate a{
	background-image: url(http://open.convio.com/assets/images/apis/button-donation.png);
}

li#login a{
	background-image: url(http://open.convio.com/assets/images/apis/button-singlesignon.png);
}

li#teamraiser a{
	background-image: url(http://open.convio.com/assets/images/apis/button-teamraiser.png);
}