.api-docs #errors .sub-banner{
    width:960px;
    margin: 3% auto;
    height: 100px

}
.api-docs #errors #api-docs-header {
    height: 146px;
}

.api-docs #errors section:last-child {
    behavior: url('/css/PIE.htc');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.api-docs #errors  #filters {
    height: 145px;
    letter-spacing: normal;
    margin-bottom: 0;
}

.api-docs #errors  #filters .inner {
    margin: 0 auto;
    padding: 35px 0 45px;
    width: 960px;
}

.api-docs #errors #filters .filter {
    float: left;
    padding-top: 25px;
    position: relative;
}

.api-docs #errors #filters .filter label {
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    left: 0;
    position: absolute;
    top: 0;
}
.api-docs #errors #filters .filter .fancy-select {
    margin-right: 14px;
    width: 206px;
}

.api-docs #errors .fancy-select select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 40px;
    z-index: 10;
}

.api-docs #errors .fancy-select .cover {
    width: 100%;
    height: 38px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url('/css/PIE.htc');
    -webkit-box-shadow: inset 0 -6px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 -6px 10px rgba(0,0,0,0.05);
    box-shadow: inset 0 -6px 10px rgba(0,0,0,0.05);
    border: 1px solid #ccc;
    float: left;
    background-color: #fff;
}

.api-docs #errors  #filters .filter .fancy-select .text {
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #454545;
}

.api-docs #errors .fancy-select .arrow {
    position: absolute;
    top: 18px;
    right: 10px;
    font-family: clearviewatt_ltbold,'helvetica neue',helvetica,sans-serif;
    width: 10px;
    height: 7px;
    background-size: 32px!important;
    background: url('/images/form-icons-sprite.png') no-repeat left -61px;
}

.api-docs #errors .page  .container.short {
    padding: 50px 0;
}

.api-docs #errors #filters .filter input#errorcode {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/images/icon-search.png) no-repeat 10px 50%;
    color: #454545;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 11px 14px 11px 35px;
    width: 520px;
    margin-top: -4px;
}

.api-docs #errors #error-code {
    padding-top: 210px;
}

.api-docs #errors header {
    font-family: omnes_attlight,'helvetica neue',helvetica,sans-serif;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1em;
    color: #45494d;
    line-height: normal;
}


