/******************************************************************************* 
 *  typography.css
 *
 *  @author Jordan Dalton <jordandalton@wrsgroup.com>
 *  @created Jan 25, 2012, 1:36:43 PM
 ******************************************************************************/

html { 
    color:#596877;
    font:normal 100%/1 arial,helvetica,verdana 
}

.bold { font-weight: bold }
.italic { font-style:italic }
.underlined { text-decoration:underline }

/**
 * Headings
 */
h1,h2,h3,h4,h5,h6 { 
    font-weight:normal 
}

/**
 * Header
 */
#header h1 { 
    font-size:190%;
    letter-spacing:-1px;
    word-spacing: -10px
}

#header h1 a { text-decoration:none }
#header h1 a span { font-weight:bold; }

#header ul li a { 
    font-weight:bold;
    text-decoration:none 
}

/**
 * Content
 */
 #content {
     font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
 }
 
 #content .breadcrumbs { font-size:90% }
 
 #content .sectionHeader h1 {
     font:bold 160% arial;
     letter-spacing:-1px;
     /*text-transform: uppercase;*/
 }
 
 #content .sectionHeader p {
     font-size:90%;
 }
 
 #content .sectionHeader.enlarge h1 {
     font-size:250%;
 }

/*******************************************************************************
* Forms
*/
form .formHeader h1 {
    font:bold italic 160% arial;
    letter-spacing:-1px;
}

form .formHeader p.instruction {
    font-size:70%;
}

form .formErrors {
    font-size:80%;
    font-weight: bold;
}

form input[type='text']:focus {
    font-weight:bold;
}


/*******************************************************************************
* API Documentation Section
*/

/* LEFT COLUMN */
#content #apiDocLeftColumn {}

#content #apiDocLeftColumn .generalContent { font-size:90% }

#content #apiDocLeftColumn .generalContent h5 {
    font-size:120%;
    font-weight:bold;
    letter-spacing:-1px;
}

#content #apiDocLeftColumn .generalContent .updatedOn {
    font-size:90%;
    font-style:italic;
}

#content #apiDocLeftColumn table { font-size:90% }

#content #apiDocLeftColumn table tr th { font-size:120% }

#content #apiDocLeftColumn table tr th span { 
    font-size:90%;
    font-style:italic;
    font-weight:normal;
}

#content #apiDocLeftColumn table tr td:nth-child(2) { line-height:1em }

#content #apiDocLeftColumn table tr td:nth-child(2) div { margin-bottom:1em; }

#content #apiDocLeftColumn table tr td:nth-child(2) .exampleValues { font-size:80% }

#content #apiDocLeftColumn table tr td:nth-child(2) .exampleValues span { font-weight:bold }

#content #apiDocLeftColumn table .param { font-weight:bold }

#content #apiDocLeftColumn table .paramUse { font-size:90%;font-style:italic }

#content #apiDocLeftColumn table .paramUse.chainSupported { margin-top:10px }


/*----------------------------------------------------------------------------*/

/* RIGHT COLUMN */
#content #apiDocRightColumn {}

#content #apiDocRightColumn .resourceInformation { font-size:90% }

#content #apiDocRightColumn .resourceInformation .resourceInformationTitle {
    color:#000;
    font-size:120%;
    font-weight:bold;
}

#content #apiDocRightColumn .resourceInformation table td:nth-child(2){
    font-weight:bold;
}


/*----------------------------------------------------------------------------*/

/* Example Request */
#content #exampleRequest { margin-top:20px }

#content #exampleRequest .generalContent { font-size:90% }

#content #exampleRequest .generalContent h5 {
    font-size:120%;
    font-weight:bold;
    letter-spacing:-1px;
}


/*******************************************************************************
* Overlay Loading Indicators
*/
#img-load { 
  font-weight:bold;
}
