@charset "UTF-8";

/* Navigation */
nav a:link {
	color:#000 !important;
}

nav a {
	display:inline-block;
	background-color:#3399FF;
	height:26px;
	margin-left: 6px;
	font-size:19px;
	padding:2px 3px;
	color:#000;
	border-radius:6px 6px 0 0;
}

nav a:LINK {
	text-decoration: none;
}

nav a:VISITED {
	color:#000 !important;
}

nav a:HOVER {
	background-color:#30F !important;
}

/* Hightlighting */
nav#HomeNav a#HomeNavButton {
	background-color:#fff !important;
}

nav#SurvivalNav a#SurvivalServerNavButton {
	background-color:#fff !important;
}

nav#CreativeNav a#CreativeServerNavButton {
	background-color:#fff !important;
}

nav#IrcNav a#IRCNavButton {
	background-color:#fff !important;
}