.selected {
    background: #ee6e73;
    color: #fff;
}
.nav-breadcrumb {
    background-color: transparent;
    box-shadow: none;
}

.nav-breadcrumb > .nav-wrapper a.breadcrumb {
    color: #c1c2c3;
}

.nav-breadcrumb > .nav-wrapper a.breadcrumb:before {
    color: #c1c2c3;
}

.nav-breadcrumb > .nav-wrapper a.breadcrumb:last-of-type {
    color: #a1a2a3;
}

.nav-breadcrumb > .nav-wrapper a.breadcrumb:last-of-type:before {
    color: #a1a2a3;
}

body {
    background: #e1e2e3;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
