@CHARSET "UTF-8";
#header {
   width: 100%;
   height: 44px;
   background: #333333;
   line-height: 44px;
   vertical-align: center;
   text-align: center;
   color: #ffffff;
}
#map_canvas {
   width: 100%;
   height: 200px;
}

#cafe_information {
   width: 100%;
   height: 80px;
   padding: 5px;
   background-color: #e6e6e6;
   
}
#review_container {
   float:left;
   width: 100%;
   height: 224px;
   background-color: #eeeeee;
   overflow: auto;
}
.review {
   margin: 5px;
}
.review_picture {
   float: left;
   margin-right: 5px;
}
.review_contents {
   
}
#write_comment {
   width: 360px;
	height: 44px;
	padding-left: 5px;
	padding-right: 5px;
}

#writePic{
	width: 20px;
	text-align: center;
}

#seedText {
   width: 224px;
   height: 3em;
   resize: none;
   border-width: 0px;
   margin-left: 5px;
   margin-right: 5px;
}


.clearfix:after
{
   content: '';
   display: block;
   clear: both ;         
}

#leaf_icon{
	margin-right: 5px;	
}