body {
    font-size: 14px;
    margin: 0;
    background: #F3F3F3;
}

p, h4 {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #e60012;
}

a:active {
    color: #f60;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

#service {
    width: 998px;
    height: 448px;
    margin: 10px auto;
    border: 1px solid #c9c9c9;
    background-color: #FFF;
    box-shadow: 0 1px 2px #d3d3d3;
}

#service .service-hd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 32px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#service .service-hd .title {
    margin: 0 12px;
}

#service .service-hd .direct-site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#service .service-hd .direct-site li {
    margin-top: 9px;
    padding: 0 18px;
    height: 16px;
    line-height: 16px;
    border-right: 1px solid #E4E4E4;
}

#service .service-bd {
    margin: 10px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#service .service-bd .service-left {
    height: 395px;
    width: 716px;
    margin-left: -4px;
}

#service .service-bd .service-left .game-piclist {
    margin: 0 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#service .service-bd .service-left .game-piclist li {
    width: 165px;
    height: 128px;
}

#service .service-bd .service-left .game-piclist li a {
    overflow: hidden;
    display: block;
    position: relative;
}

#service .service-bd .service-left .game-piclist li a .mask {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    background-color: #000;
}

#service .service-bd .service-left .game-piclist li a:hover .mask {
    top: 0;
    opacity: 0.1;
}

#service .service-bd .service-left .game-piclist li .focus {
    height: 88px;
    position: relative;
}

#service .service-bd .service-left .game-piclist li img {
    display: block;
    width: 100%;
    height: 100%;
}

#service .service-bd .service-left .game-piclist li .text {
    height: 28px;
    line-height: 28px;
    border: 1px solid #e4e4e4;
    padding: 5px 7px;
    position: relative;
    white-space: nowrap;
}

#service .service-bd .service-left .game-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -7px;
    margin-top: 15px;
}

#service .service-bd .service-left .game-icon li {
    margin: 0 7px 9px;
    width: 59px;
    height: 75px;
    text-align: center;
}

#service .service-bd .service-left .game-icon li img {
    width: 52px;
    height: 52px;
}

#service .service-bd .service-left .game-icon li .txt {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

#service .service-bd .service-right {
    height: 385px;
    width: 235px;
}

#service .service-bd .service-right .recommend {
    height: 126px;
    border: 1px solid #e4e4e4;
}

#service .service-bd .service-right .recommend .recommend-hd {
    height: 25px;
    padding: 5px 11px;
    line-height: 25px;
    border-bottom: 1px solid #e4e4e4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#service .service-bd .service-right .recommend .recommend-hd .slide-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#service .service-bd .service-right .recommend .recommend-hd .slide-nav li {
    margin-left: 12px;
}

#service .service-bd .service-right .recommend .recommend-hd .slide-nav li a {
    color: #0aae02;
}

#service .service-bd .service-right .recommend .recommend-bd {
    margin: 12px 0;
}

#service .service-bd .service-right .recommend .recommend-bd .recommend-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

#service .service-bd .service-right .recommend .recommend-bd img {
    display: block;
    height: 65px;
    width: 65px;
}

#service .service-bd .service-right .recommend .recommend-bd .right {
    width: 136px;
    height: 65px;
    line-height: 18px;
    position: relative;
}

#service .service-bd .service-right .recommend .recommend-bd .right .star {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 50px;
    height: 10px;
    background: url(http://p1.qhimg.com/t012e2dc5d5b1bf78fb.png) 0 -12px repeat-x;
}

#service .service-bd .service-right .recommend .recommend-bd .right .star span {
    display: block;
    height: 100%;
    line-height: 1px;
    font-size: 1px;
    background: url(http://p1.qhimg.com/t012e2dc5d5b1bf78fb.png) 0 0 repeat-x;
}

#service .service-bd .service-right .recommend .recommend-bd .right .btn {
    position: absolute;
    right: 1px;
    bottom: 1px;
    height: 23px;
    width: 48px;
    border: 1px solid #06b002;
    border-radius: 3px;
    color: #06b002;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
}

#service .service-bd .service-right .recommend .recommend-bd .right .btn:hover {
    color: #FFF;
    background-color: #06b002;
}

#service .service-bd .service-right .hotlist {
    margin-top: 5px;
}

#service .service-bd .service-right .hotlist .hotlist-hd {
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    border-bottom: 1px solid #e4e4e4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#service .service-bd .service-right .hotlist .hotlist-hd h4 {
    font-weight: normal;
}

#service .service-bd .service-right .hotlist .hotlist-hd h4 a {
    color: #06b002;
}

#service .service-bd .service-right .hotlist .hotlist-hd .slide-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#service .service-bd .service-right .hotlist .hotlist-hd .slide-nav li {
    margin-left: 12px;
    height: 28px;
}

#service .service-bd .service-right .hotlist .hotlist-hd .slide-nav li a {
    padding: 0 2px;
    display: block;
    height: 28px;
    margin-bottom: -2px;
}

#service .service-bd .service-right .hotlist .hotlist-hd .slide-nav li.selected a {
    border-bottom: 2px solid #06af02;
}

#service .service-bd .service-right .hotlist .hotlist-bd {
    margin-top: 10px;
}

#service .service-bd .service-right .hotlist .hotlist-bd ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

#service .service-bd .service-right .hotlist .hotlist-bd li {
    line-height: 25px;
    width: 116px;
    margin: 0 0 12px 0;
    height: 25px;
    line-height: 25px;
}

#service .service-bd .service-right .hotlist .hotlist-bd img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}
