/* CSS Document */

#SlideShow{
	position:relative;
	top:0px;
	left:0px;
	margin:0;
	padding:0;	
	height:195px;
	width:775px;
	overflow:hidden;

}

#SlideShow .SlideShowPane{
	margin:0px;
	padding:0px;
	overflow:hidden;	
	display:inline-block;
	overflow:hidden;
	width:259px;
	height:195px;
}

#SlideShow .one{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#ccc;
}

#SlideShow .two{
	position:absolute;
	top:0px;
	left:259px;
	background-color:#999;
}

#SlideShow .three{
	position:absolute;
	top:0px;
	left:518px;
	background-color:#ccc;
	
}

#SlideShow .SlideShowPane #img4, #SlideShow .SlideShowPane #img5, #SlideShow .SlideShowPane #img6{
	z-index:1;	
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#SlideShow .SlideShowPane #img7, #SlideShow .SlideShowPane #img8, #SlideShow .SlideShowPane #img9{
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}