body{
  background: #3366CC;
}

.model-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: table;
}
  
.model-list li  {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 18px;
  margin-bottom: 25px;
  display: table;
}

.model-list li  .label{
  width: 97px;
  float: left;
  position: absolute;
  margin-top: -20px;
  cursor: pointer;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow: ellipsis;
}

.delete{
  float: right;
  background-color: red;
  padding: 0 5px;
  position: absolute;
  margin-top: -20px;
  margin-left: 97px;
  z-index: 999px;  
  cursor: pointer;
}

.model-preview {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  background: url('../images/loading.gif') 50% 50% no-repeat;
}

.model-preview canvas  {
  border: 7px solid #ccc;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.model-preview  canvas:hover {
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border-color: #27ae60;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.selected canvas {
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border-color: #27ae60;
}

#controller
  {
  width: 250px;
  }
    
#threedpane
  {
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  border: 1px solid gray;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  }
